- if @product.properties.any?
  = form_tag(url, remote: true) do |form|
    = hidden_field_tag :product_id, @product.id
    - if @errors and @errors.any?
      - @errors.each do |error|
        = error
    .help
      This will create
      = @product.variants_count_to_cover_all_options
      variants: one for each combination of options.
      %br
      Note that you'll still be able to edit the variants after they're created.

    %fieldgroup
      %legend SKU format
      = label_tag :base_sku, "SKU base text"
      = text_field :variant_factory_fields, :base_sku, value: @product.slug.downcase.gsub(" ", "_"), class: "span2"
      = "_" + @product.properties.map{ |property| property.options.first.name}.join(" ").downcase.gsub(" ", "_")
      .help
        Enter the initial text for variant SKUs. The first variant will have SKU as shown above, with other variants using different option names.

    %fieldgroup
      %legend Prices
      = label_tag :cost_price, 'Cost Price'
      = number_field :variant_factory_fields, :cost_price, before: '$', step: 0.01
      = label_tag :sell_price, 'Sell Price'
      = number_field :variant_factory_fields, :sell_price, before: '$', step: 0.01
- else
  .help
    You'll need to make a property for this product before you can bulk create variants.