<%= breeze_form_for @variant, :as => :variant, :url => url, :remote => true do |form| %>
  <%= render "/breeze/admin/shared/error_messages", :target => @variant, :object_name => :variant %>
  <%= form.fieldset do %>
    <% unless form.object.new_record?%>
      <li class="image">
        <label>Image (124 &times; 192)</label>
        <%= uploadable_image form.object, :image, :width => 124, :height => 192, :url => admin_store_product_variant_path(@variant.product, @variant) %>
      </li>
    <% end %>
    <%= form.text_field :name, :required => true %>
    <%= form.text_field :sku_code, :required => true %>

    <%= form.number_field :cost_price, :required => true, :label => "Cost Price" %>
    <%= form.number_field :sell_price, :required => true, :label => "Base Sell Price" %>
    <%= form.number_field :discounted_sell_price, :label => "Discounted Sell Price" %>
  <% end %>

  <%= form.fieldset 'options' do %>
    <% @variant.product.properties.each do |property| %>
      <% if property.options.count > 0%>
        <h4><%= property.name %></h4>
        <% selected_option_id = @variant.option_for_property(property)? @variant.option_for_property(property).id : nil %>
        <%= select_tag "options[#{property.name}]", options_for_select(property.options.collect { |o| [ o.name, o.id ] }, selected_option_id) %>
      <% end %>
    <% end %>
  <% end %>

<% end %>
