<%= form_for line_item, :url => breeze.order_line_item_path(@order, line_item), :method => :put, :remote => true do |f| %>
  <tr id="<%= line_item.id %>">
    <td></td>
    <td class="icon"><% image_tag line_item.product.icon_image if line_item.product.icon_image %></td>
    <td><%= line_item.variant.name %></td>
    <td></td>
    <td class="price">$<%= line_item.variant.display_price %> <span class="currency">NZD</span></td>
    <td><%= f.text_field :quantity %> &nbsp; <%= f.submit "Apply" %></td>    
    <td class="total"><%= number_to_currency line_item.amount %> <span class="currency">NZD</span></td>
    <td>
      <%= link_to 'Remove', breeze.order_line_item_path(@order, line_item), :method => :delete, :remote=> true, :class => "remove" %>
    </td>
    <td></td>  
	</tr>
<% end %>