<%= form_for line_item, :url => breeze.admin_store_order_line_item_path(@order, line_item), :method => :put, :remote => true do |f| %>
  <tr id="<%= line_item.id %>">
    <td></td>
    <td class="icon"><% image_tag line_item.product.icon_image if line_item.product.icon_image %></td>
    <td><%= line_item.variant.name %></td>
    <td></td>
    <td class="price">
        <% if line_item.variant.discounted_sell_price > 0 %>
          <span class="old_price"><%= number_to_currency(line_item.variant.sell_price, :locale => :nz) %></span> <span class="discounted_price current_price"><%= number_to_currency(line_item.variant.discounted_sell_price, :locale => :nz) %></span>
        <% else %>
          <span class="current_price"><%= number_to_currency(line_item.variant.sell_price, :locale => :nz) %></span>
        <% end %>
    </td>
    <td><%= f.text_field :quantity %> &nbsp; <%= f.submit "Apply" %></td>    
    <td class="total"><%= number_to_currency line_item.amount %> <span class="currency">NZD</span></td>
    <td>
      <%= link_to 'Remove', breeze.admin_store_order_line_item_path(@order, line_item), :method => :delete, :remote=> true, :class => "remove" %>
    </td>
    <td></td>  
	</tr>
<% end %>