%li.name
  .control-group
    = form.label :name, class: "control-label required" do |label|
      Name:
      %span.required *
    .controls
      = form.text_field :name, :class => :required, :value => @customer.name, :placeholder => 'Jane Doe'
%li.address
  .control-group
    = form.label :address, class: "control-label required" do |label|
      Address
      %span.required *
    .controls
      = form.text_area :address, :class => :required, :value => address.address, :placeholder => '123 Babbling Brook Lane                                                                          Riverton', :rows => 2
%li
  .control-group
    = form.label :city, class: "control-label required" do |label|
      City
      %span.required *
    .controls
      = form.text_field :city, :value => address.city, :placeholder => 'Christchurch', :class => 'required input-medium'
%li.state
  .control-group
    = form.label :state, class: "control-label" do |label|
      State, Province or Region
      %span.optional (optional)
    .controls
      = form.text_field :state, :value => address.state, :placeholder => 'Canterbury', :class => 'input-medium'
%li.state
  .control-group
    = form.label :postcode, class: "control-label" do |label|
      Postcode
      %span.optional (optional)
    .controls
      = form.text_field :postcode, :value => address.postcode, :class => 'input-small'
%li.country
  .control-group
    = form.label :country, class: "control-label required" do |label|
      Country
      %span.required *
    .controls
      = form.select :country, countries, :selected => (address.country ||'New Zealand'), :class => :required
%li.phone
  .control-group
    = form.label :phone, class: "control-label" do |label|
      Contact Phone Number
      %span.optional (optional)
    .controls
      = form.text_field :phone, type: 'tel', :value => @customer.phone, :placeholder => '64 3 1234567', :class => 'input-medium'
