%p.address
  %span.name
    = address.name
  %br/
  %span.address
    = address.address
  %br/
  %span.city
    = address.city
  %br/
  %span.state
    = address.state
  %br/
  %span.postcode
    = address.postcode
  %br/
  %span.country
    = address.country
  %br/
  %span.phone
    Phone: #{address.phone}
