<p class="address">
	<span class="name">
		<%= address.name %>
	</span>
	<br />
 	<span class="address">
		<%= address.address %>
	</span>
	<br />
	<span class="city">
		<%= address.city %>
	</span>
	<br />
	<span class="state">
		<%= address.state %>
	</span>
	<br />
	<span class="postcode">
		<%= address.postcode %>
	</span>
	<br />
	<span class="country">
		<%= address.country %>
	</span>
	<br />
	<span class="phone">
		Phone: <%= address.phone %>
	</span>
</p>