= content_tag :tr, :class => :relationship, :id => "relationship_#{relationship.id}", :"data-product-id" => @product.id do
  %td.image
  %td.name
    = relationship.kind.humanize.downcase
  %td
    = relationship.child_product.title if relationship.child_product
  %td
  %td.actions
    %p.relationship-actions
      = link_to "Delete", admin_store_product_product_relationship_path(@product, relationship, :format => :js), :method => :delete, :remote => true, :class => "small red delete button"
      = link_to "Edit", edit_admin_store_product_product_relationship_path(@product, relationship), :class => "small black edit button"
