= content_tag :li, :class => "product_image", :id => "product_image_#{product_image.id}", :"data-width" => product_image.image_width, :"data-height" => product_image.image_height, :"data-id" => product_image.id do
  = content_tag :div, :class => "icon" do
    = image_tag product_image.file.url(:breeze_thumb)
  = content_tag :div, :class => :meta do
    %span.filename{:title => "</haml:block><haml:silent></haml:silent><haml:block>"}/
    %small.dimensions
      = product_image.image_width || "??"
      \× #{product_image.image_height || "??"}
      %abbr/
    - if product_image == @product.default_image
      %span.badge.default
        default 
  = content_tag :div, :class => :links do
    = link_to "Delete", admin_store_product_product_image_path(@product, product_image), :method => :delete, :remote => true, :class => 'small red button delete', :rel => :delete
    = link_to "Make Default", set_default_image_admin_store_product_path(@product, product_image: product_image), :method => :post, :remote => true, :class => 'small black button' unless product_image == @product.default_image