<%= content_tag :tr, :class => :category, :id => "category_#{category.id}", :"data-id" => category.id do %>
  <td class="name">
    <%= "#{category.name} (#{Breeze::Commerce::Product.in_category(category).count})" %>
  </td>
  <td class="slug">
    /<%= category.slug %>
  </td>
  <td class="available">
    <div class="text">
      <%= category.available ? "Yes" : "No" %>
    </div>
    <div class="field">
      <%= check_box_tag "category_#{category.id}_available", "1", category.available, :class => "category-available" %>
      <div class="available-toggle" style='background-position: <%= category.available ? 0 : 100 %>% 0%'></div>
    </div>
  </td>
  <td class="actions">
    <p class="category-actions">
      <%= link_to "View", category.permalink, :target => :_blank, :class => "small black view button" %>
      <%= link_to "Edit", edit_admin_store_category_path(category), :class => "small black edit button" %>
      <%= link_to "Delete", admin_store_category_path(category), :remote => true, :method => :delete, :class => "small red delete button", :confirm => "Are you sure you want to delete the '#{category.name}' category?" %>
    </p>
  </td>
<% end %>
