<%= content_tag :div, :class => "product", :id => "product_#{product.id}" do %>
  <div class="image">
    <% unless product.images.empty? %>
      <%= image_tag product.images.last.file.url(:breeze_thumb) %>
    <% else %>
      No image yet.
    <% end %>
  </div>
  <div class="title">
    
    
    <h2><%= link_to product.title, product.permalink, :class => "product-name" %></h2>
  </div>
  <div class="description">
    <p><%= product.short_description %></p>
  </div>
  <div class="price">
    <span>$<%= product.discounted_sell_price > 0 ? product.discounted_sell_price : product.sell_price %> <span class="currency">NZD</span></span>
  </div>
  <div class="actions">
    <%= link_to "More", product.permalink %>
    <%= form_for :order, :url => breeze.populate_orders_path do |f| %>
      <%= hidden_field_tag :product_id, product.id %> 
      <%= button_to "Add to Cart", breeze.populate_orders_path, :method => :post %>
    <% end %>
    
  </div>
 <% end %>
