<% classes = 'product' %>
<% classes += ' ' + product.tags.map{|c| c.slug}.join(' ') %>
<% classes += ' first' if product_counter == 0 %>
<% classes += ' last' if product_counter == product_count - 1 %>
<% classes += ' product-some_variants_discounted' if product.any_variants_discounted? %>
<% classes += ' product-all_variants_discounted' if product.all_variants_discounted? %>
<% classes += ' product-single_display_price' if product.single_display_price? %>
<%= content_tag :li, :class => classes, :id => "product_#{product.id}" do %>

  <div class="image">
    <% unless product.images.empty? %>
      <%= image_tag product.images.last.file.url(:breeze_thumb) %>
    <% else %>
      No image yet.
    <% end %>
  </div>
  <div class="title">
    
    <h2><%= link_to product.title, product.permalink, :class => "product-name" %></h2>
  </div>
  <div class="description">
    <p><%= product.teaser %></p>
  </div>
  <div class="price">
    <% if product.single_display_price? %>
      <%= number_to_currency(product.display_price, :locale => :nz) %><span class="currency"><%= product.store.currency %></span>
    <% else %>
      From
      <%= number_to_currency(product.display_price_min, :locale => :nz) %><span class="currency"><%= product.store.currency %></span>
      to
      <%= number_to_currency(product.display_price_max, :locale => :nz) %><span class="currency"><%= product.store.currency %></span>
    <% end %>
  </div>
  <div class="actions">
    <%= link_to "Read More", product.permalink, :class => 'action' %>
    
  </div>
 <% end %>
