<% classes = 'variant' %>
<% classes += ' ' + variant.options.map{|c| c.name.downcase.underscore}.join(' ') %>
<% classes += ' first' if variant_counter == 0 %>
<% classes += ' last' if variant_counter == variant_count - 1 %>
<%= content_tag :tr, :class => classes, :id => "variant_#{variant.id}", :"data-id" => variant.id do %>
  <td class="image">
    <%= image_tag variant.image.url(:thumbnail) unless variant.image.blank? %>
  </td>
  <td class="name">
    <h4><%= variant.name %></h4>
    <p><%= variant.blurb %></p>
  </td>
  <td class="price">
    <% if variant.discounted %>
      <span class="old_price"><%= number_to_currency(variant.sell_price, :locale => :nz) %></span> <span class="discounted_price current_price"><%= number_to_currency(variant.discounted_sell_price, :locale => :nz) %></span>
    <% else %>
      <span class="current_price"><%= number_to_currency(variant.sell_price, :locale => :nz) %></span>
    <% end %>
  </td>
  <td class="actions">
    <p class="variant-actions">
      <%= button_to "Add to Cart", breeze.populate_orders_path(:variant_id => variant.id), :class => "btn btn-add_to_cart", :remote => true %>
    </p>
  </td>
<% end %>
