%li.variant{:id => "variant_#{variant.id}"}
  = form_tag breeze.order_line_items_path( current_order(session) ), class: "new_line_item #{'requires_customer_message' if variant.requires_customer_message}", remote: true do |form|
    .error_messages
    = hidden_field_tag "line_item[variant_id]", variant.id
    = hidden_field_tag "line_item[quantity]", 1
    .image
      = image_tag variant.display_image.url(:thumbnail) unless variant.display_image.blank?
    %h4.name= variant.name
    %p.description= variant.description
    .price
      - if variant.discounted
        %span.old_price= number_to_currency(variant.sell_price, :locale => :nz)
        %span.currency= currency
        %span.discounted_price.current_price= number_to_currency(variant.discounted_sell_price, :locale => :nz)
        %span.currency= currency
      - else
        %span.current_price= number_to_currency(variant.sell_price, :locale => :nz)
        %span.currency= currency
    .control-group.quantity-group
      = label_tag :line_item_quantity, "Quantity", class: "control-label"
      .controls
        = number_field_tag "line_item[quantity]", 1, class: "input-mini required number"
    - if variant.requires_customer_message
      .control-group.customer_message
        = label_tag :line_item_customer_message, "Your message", class: "control-label"
        .controls
          = text_field_tag "line_item[customer_message]", "Your message.", class: "line_item_customer_message", data: {character_limit: variant.customer_message_limit}
    .actions
      %p.variant-actions
        = submit_tag "Add to Cart", class: "btn btn-add_to_cart", remote: true, data: {loading_text: "Adding..."}