<%= content_tag :tr, :class => :variant, :id => "variant_#{variant.id}", :"data-id" => variant.id do %>
  <td class="name">
    <%= variant.name %>
  </td>
  <td class="price">
    <% if variant.discounted_sell_price > 0 %>
      <span class="old_price"><%= number_to_currency(variant.sell_price, :locale => :nz) %></span> <span class="discounted_price current_price"><%= number_to_currency(variant.discounted_sell_price, :locale => :nz) %></span>
    <% else %>
      <span class="current_price"><%= number_to_currency(variant.sell_price, :locale => :nz) %></span>
    <% end %>
  </td>
  <td class="available">
    <%= variant.available %>
  </td>
  <td class="actions">
    <p class="variant-actions">
      <%= button_to "Add to cart", breeze.populate_orders_path(:variant_id => variant.id), :class => "button-add_to_cart", :remote => true %>
    </p>
  </td>
<% end %>
