%tr.line_item{id: line_item.id}
  %td.item
    = image_tag line_item.variant.display_image.url(:thumbnail), class: 'thumbnail' if line_item.variant.display_image
    %p.product_name= line_item.product.title
    %h4.variant_name= line_item.variant.name
    - if line_item.customer_message
      .control-group.customer_message
        .controls
          = line_item_fields.text_field :customer_message, class: 'line_item-customer_message', data: { order_id: @order.id.to_s, line_item_id: line_item.id.to_s, character_limit: line_item.variant.customer_message_limit}
    - else
      %p.variant_description= line_item.variant.description
  %td.price
    - if line_item.variant.discounted
      %span.old_price= number_to_currency(line_item.variant.sell_price, :locale => :nz)
      %span.currency= currency
      %span.discounted_price.current_price= number_to_currency(line_item.variant.discounted_sell_price, :locale => :nz)
      %span.currency= currency
    - else
      %span.current_price= number_to_currency(line_item.variant.sell_price, :locale => :nz)
      %span.currency= currency
  %td.actions
    = line_item_fields.number_field :quantity, class: 'input-mini line_item-quantity', data: { order_id: @order.id.to_s, line_item_id: line_item.id.to_s }, min: 1
    = link_to 'Remove', breeze.order_line_item_path(@order, line_item), :method => :delete, :remote=> true, :class => "btn btn-mini remove"
  %td.total
    %span.amount
      = number_to_currency line_item.amount
    %span.currency= currency