<tr id="<%= line_item.id %>">
  <td></td>
  <td class="icon"><% image_tag line_item.product.icon_image if line_item.product.icon_image %></td>
  <td><%= line_item.variant.name %></td>
  <td></td>
  <td class="price">
      <% if line_item.variant.discounted_sell_price > 0 %>
        <span class="old_price"><%= number_to_currency(line_item.variant.sell_price, :locale => :nz) %></span> <span class="discounted_price current_price"><%= number_to_currency(line_item.variant.discounted_sell_price, :locale => :nz) %></span>
      <% else %>
        <span class="current_price"><%= number_to_currency(line_item.variant.sell_price, :locale => :nz) %></span>
      <% end %>
  </td>
  <td><%= line_item.quantity %></td>    
  <td class="total"><%= number_to_currency line_item.amount %> <span class="currency">NZD</span></td>
  <td>
  </td>
  <td></td>  
</tr>
