%table.totals
  %tr.shipping
    %td
      %h4 Shipping
      %p.name
        = order.shipping_method.name
      %p.description
        = order.shipping_method.description
    %td.total
      = number_to_currency order.shipping_total
      %span.currency= currency
  %tr.total
    %td Total cost:
    %td.total
      = number_to_currency order.total
      %span.currency= currency