%tr.subtotal
  %td
  %td Subtotal:
  %td
  %td.total
    %span.amount
      = number_to_currency @order.item_total
    %span.currency NZD
%tr.shipping
  %td
  %td
    Shipping:
  %td
    - shipping_methods = Breeze::Commerce::Store.first.shipping_methods.unarchived
    - if shipping_methods.count > 1
      - shipping_methods.each do |shipping_method|
        %label.radio
          = form.radio_button :shipping_method_id, shipping_method.id, :checked => shipping_method == @order.shipping_method, class: 'radio-shipping_method', data: { order_id: @order.id.to_s }
          %h4
            = shipping_method.name
          %p.description
            = shipping_method.description
    - elsif shipping_methods.count == 1
      - shipping_method = shipping_methods.first
      %h4
        = shipping_method.name
      %p.description
        = shipping_method.description
    - else
      %p.label.label-warning
        No shipping methods available
  %td.total
    %span.amount
      = number_to_currency @order.shipping_total
    %span.currency NZD
%tr.total
  %td
  %td Total cost:
  %td
  %td.total
    %span.amount
      = number_to_currency @order.total
    %span.currency NZD