- store = Breeze::Commerce::Store.first
%tr.subtotal
  %td
  %td Subtotal:
  %td
  %td.total
    %span.amount
      = number_to_currency @order.item_total
    %span.currency
      = store.currency

= render :partial => "breeze/commerce/shipping_methods/shipping_methods", :object => store.shipping_methods.unarchived, :locals => { :form => form }

%tr.total
  %td
  %td Total cost:
  %td
  %td.total
    %span.amount
      = number_to_currency @order.total
    %span.currency
      = store.currency