<% if @line_item.errors.empty? %>
	<% if @update_order_total %>
		// Refresh line item total
		$('table.cart tr#<%= @line_item.id %>').children('td.total').html('<%= number_to_currency @line_item.amount%> <span class="currency"><%= currency %></span>')

		// Update order totals
		$('table.totals tr.subtotal td.total span.amount').html('<%= number_to_currency @order.item_total %>').effect("highlight", { color: "#ffffc0" }, 3000);
		$('table.totals tr.shipping td.total span.amount').html('<%= number_to_currency @order.shipping_total %>').effect("highlight", { color: "#ffffc0" }, 3000);
		$('table.totals tr.total td.total span.amount').html('<%= number_to_currency @order.total %>').effect("highlight", { color: "#ffffc0" }, 3000);
	<% end %>
  $('table.cart tr#<%= @line_item.id %> td').effect("highlight", { color: "#ffffc0" }, 3000);
<% end %>