- classes = 'tag'
- classes += ' first' if tag_counter == 0
- classes += ' last' if tag_counter + 1 == count

= content_tag :tr, class: classes, id: "tag_#{tag.id}", data: {:id => "#{tag.id}", :position => "#{tag.position}"} do
  %td.name
    = "#{tag.name}" 
    = badge( Breeze::Commerce::Product.with_tag(tag).count )
    %ul.products
      - products_count = tag.products.count
      - tag.products.unarchived.each_with_index do |product, index|
        %li.product
          = link_to(product.name, edit_admin_store_product_path(product)) + (index == products_count - 1 ? '' : ', ')
  %td.actions
    %p.tag-actions
      = link_to "Edit", edit_admin_store_tag_path(tag), :class => "small black edit button"
      = link_to "Delete", admin_store_tag_path(tag), :remote => true, :method => :delete, :class => "small red delete button", :confirm => "Are you sure you want to delete the '#{tag.name}' tag?"