= content_tag :tr, :class => :tag, :id => "tag_#{tag.id}", :"data-id" => tag.id do
  %td.name
    = "#{tag.name} (#{Breeze::Commerce::Product.with_tag(tag).count})"
  %td.slug
    \/#{tag.slug}
  %td.actions
    %p.tag-actions
      = link_to "Edit", edit_admin_store_tag_path(tag), :class => "small black edit button"
      = link_to "Delete", admin_store_tag_path(tag), :remote => true, :method => :delete, :class => "small red delete button", :confirm => "Are you sure you want to delete the '#{tag.name}' tag?"