= breeze_form_for @shipping_method, :as => :shipping_method, :url => url do |form|
  = render "/breeze/admin/shared/error_messages", :target => @shipping_method, :object_name => :shipping_method

  - if @shipping_method.new_record?
    = form.fieldset legend: "Type of Shipping Method", class: 'shipping_method_types' do
      - @shipping_method_types.each do |shipping_method_type|
        %label.radio
          = radio_button_tag :shipping_method_type, shipping_method_type.name.underscore
          %h4= shipping_method_type.human_readable_name
          .help
            = shipping_method_type.explanation
  - else
    = hidden_field_tag :shipping_method_type, @shipping_method.class.name.underscore

  #shipping_method-details
    = form.fieldset do
      = form.text_field :name, :required => true, :label => "Name", :placeholder => 'e.g. Standard Shipping'
      = form.text_field :description, :required => false, :label => "Description", :placeholder => 'e.g. $5 airmail to anywhere in the world'
      = form.number_field :price, required: true, label: 'Price', before: '$', step: 0.01

  #threshold_shipping_method-details{:style => (@shipping_method.class==Breeze::Commerce::Shipping::ThresholdShippingMethod ? "" : "display: none") }
    = form.fieldset do
      = fields_for :threshold_shipping_method do |threshold_fields|
        %li
          %label Threshold
          %span.before-field $
          = threshold_fields.number_field :threshold, required: true, step: 0.01, value: ( @shipping_method.threshold if @shipping_method.respond_to? :threshold )
        %li
          %label Price when order is above the threshold
          %span.before-field $
          = threshold_fields.number_field :above_threshold_price, required: true, step: 0.01, value: ( @shipping_method.above_threshold_price if @shipping_method.respond_to? :above_threshold_price )

- content_for :left do
  = render :partial => "breeze/admin/commerce/shared/left"
