<%= pane_layout do |main| %>
  <%= main.inner do %>
    <%= breeze_form_for @shipping_method, :as => :shipping_method, :url => url do |form| %>

      <%= scrollable_layout do %>
        <h1><%= @shipping_method.new_record? ? 'New shipping method' : "Editing shipping method " %></h1>
        <%= render "/breeze/admin/shared/error_messages", :target => @shipping_method, :object_name => :shipping_method %>
        <%= tabbed_layout do |tabs| %>
          <% tabs.details :title => "Shipping method Details" do %>
            <div id="shipping_method-details">
              <%= form.fieldset do %>

                <%= form.text_field :name, :required => true, :label => "Name" %>
                <%= form.text_field :price, :required => true, :label => "Price" %>
                <%= form.text_field :description, :required => false, :label => "Description" %>

              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <%= fake_right_sidebar do %>
        <%= scrollable_layout do %>
           <%= link_to "View", admin_store_customer_path(@shipping_method), :class => "large view button", :target => :_blank unless @shipping_method.new_record? %>
          <%= submit_tag "Save", :class => "large green save button" %>
          <%= link_to "Delete", admin_store_customer_path(@shipping_method, :format => :js), :method => :delete, :remote => true, :class => "large red delete button" unless @shipping_method.new_record? %>
        <% end %> 
      <% end %>

    <% end %>
  <% end %>
<% end %>

<% content_for :left do %>
  <%= render :partial => "breeze/admin/commerce/commerce/left" %>
<% end %>

<% content_for :right do %>
  <%= pane_layout do |right| %>
    <% right.header do %>

    <% end %>
  <% end %>
<% end %>
