- classes = 'shipping_method'
- classes += ' first' if shipping_method_counter == 0
- classes += ' last' if shipping_method_counter + 1 == count

= content_tag :tr, class: classes, id: "shipping_method_#{shipping_method.id}", data: {:id => "#{shipping_method.id}", :position => "#{shipping_method.position}"} do
  %td.name
    %h4
      = shipping_method.name
    %p
      = shipping_method.description
    %p.default
      = 'Default shipping method for new orders.' if shipping_method == store.default_shipping_method
  %td.type
    = shipping_method.class.name.demodulize.underscore.humanize
  %td.price
    = shipping_method.price_explanation
  %td.actions
    = link_to "Make Default", admin_store_store_path(store, 'store[default_shipping_method_id]' => shipping_method.id), :method => :put, :class => 'small black button'
    = link_to "Edit", edit_admin_store_shipping_method_path(shipping_method.id), :class => "small black edit button"
    - if count > 1
      = button_to "Remove", admin_store_shipping_method_path(shipping_method.id), :method=>:delete, :remote => true, :class=>'small red button remove'