<%= content_tag :tr, :class => :shipping_method, :id => "shipping_method_#{shipping_method.id}", :"data-id" => shipping_method.id do %>
  <td class="name">
    <%= shipping_method.name %>
  </td>
  <td class="price">
    <%= shipping_method.price %>
  </td>
  <td class="actions">
    <p class="shipping_method-actions">
      <%= link_to "Edit", edit_admin_store_shipping_method_path(shipping_method), :class => "small black button" %>
      <%= link_to "Delete", edit_admin_store_shipping_method_path(shipping_method), :remote => true, :method => :delete, :class => "small red delete button" %>
    </p>
  </td>
<% end %>


