- content_for :title, "Shipping Methods"
= pane_layout do |panes|
  = panes.inner do
    = scrollable_layout do
      .actions.horizontal
        = link_to "New shipping method", new_admin_store_shipping_method_path, :class => "large green button new shipping_method"
      %h1
        Shipping Methods
      .box
        = will_paginate @shipping_methods
        #shipping_methods
          = render :partial => "breeze/admin/commerce/shipping_methods/shipping_methods", :object => @shipping_methods
- content_for :left do
  = render :partial => "breeze/admin/commerce/shared/left"