- content_for :title, "Shipping Methods"
= pane_layout do |panes|
  = panes.inner do
    = scrollable_layout do
      .actions.horizontal
        - if Breeze::Commerce::Shipping::ShippingMethod.exists?
          = link_to "New shipping country", new_admin_store_country_path, class: "large green button new country", remote: true
        - else
          .alert
            You'll need to create at least one shipping method before you can add countries
      %h1 Countries
      .box
        %p
          We ship to these countries&hellip;
        #countries
          = render :partial => "breeze/admin/commerce/countries/countries", :object => @countries
      .clearer
      .actions.horizontal
        = link_to "New shipping method", new_admin_store_shipping_method_path, class: "large green button new shipping_method"
      %h1
        Shipping Methods
      .box
        = will_paginate @shipping_methods
        #shipping_methods
          = render :partial => "breeze/admin/commerce/shipping_methods/shipping_methods", :object => @shipping_methods
- content_for :left do
  = render :partial => "breeze/admin/commerce/shared/left"