<!DOCTYPE html>
<html>
  <head>
    <title><%= page.title %></title>
  </head>
  <body>
    <div id="container">
      <% if product %>
        <%= form_for :order, :url => populate_orders_url do |f| %>
          <h1><%= product.name %></h1>
          <h2><%= product.description %></h2>
          <label>Quantity:</label>
          <%= select_tag :quantity, options_for_select((1..10).to_a) %>
          <%= hidden_field_tag :product_id, product.id %> 
          <button type='submit'>
            Add to cart
          </button>
      <% end %>
    <% else %>
      <p>The product you are looking for was not found.<p>
    <% end %>
    </div>
  </body>
</html>
