<%= pane_layout do |main| %>
  <% main.inner do %>
    <%= breeze_form_for @product, :as => :product, :url => url do |form| %>
      <%= scrollable_layout do %>
        <h1><%= @product.new_record? ? 'New product' : "Editing Product \"#{@product.name}\"" %></h1>
        <%= render "/breeze/admin/shared/error_messages", :target => @product, :object_name => :product %>
        <%= tabbed_layout do |tabs| %>
          <% tabs.activity :title => "Product Details" do %>
              <h1>Recent activity</h1>
              <div id="product-details">
                       <%= form.fieldset do %>
          <%= form.text_field :name, :required => true, :label => "Product Name" %>
          <%= form.text_field :teaser, :required => true %>
          <%= form.text_field :slug, :required => true %>
          <%= form.text_area :short_description %>
          <%= form.text_area :full_description %>
          <%= form.number_field :cost_price, :required => true, :label => "Cost Price" %>
          <%= form.number_field :sell_price, :required => true, :label => "Base Sell Price" %>
          <%= form.number_field :discounted_sell_price, :label => "Discounted Sell Price" %>
        <% end %>
        <%= form.fieldset do %>
          <%= form.text_field :weight %>
          <%= form.text_field :height %>
          <%= form.text_field :width %>
          <%= form.text_field :depth %>
        <% end %> 
              </div>
          <% end %>
        <% end %>


      <% end %>

      <%= fake_right_sidebar do %>
        <%= scrollable_layout do %>
          <%= submit_tag "Save", :class => "large green save button" %>
        <% end %> 
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% content_for :left do %>
  <%= render :partial => "/breeze/commerce/commerce/left" %>
<% end %>

<% content_for :right do %>
  <%= pane_layout do |right| %>
    <% right.header do %>

    <% end %>
  <% end %>
<% end %>
