<%= form.fieldset do %>
  <%= form.text_field :title, :required => false %>

	<li><%= radio_button_tag 'content[list_type]', "by_tags", @content.list_type=='by_tags', :class => 'list_type' %> By Tags</li>
	<li><%= radio_button_tag 'content[list_type]', "related", @content.list_type=='related', :class => 'list_type' %> Related to a product</li>

	<div id="list_type_by_tags" class="list_type_option" style="display: none;">
	  <%= form.select :tag_ids, Breeze::Commerce::Store.first.tags.map {|c|[ c.name, c.id ] }, { :required => true, :label => "Tags"}, :class => "multiselect", :multiple => "multiple" %>

	  <p>Select product tags to list (leave empty to list all products)</p>
	</div>

	<div id="list_type_related" class="list_type_option" style="display: none;">
	 	<%= form.select :product_id, Breeze::Commerce::Store.first.products.published.unarchived.map {|c|[ c.title, c.id ] }, { :required => false, :label => "Product"} %>
	  <p>The list will show items related to the selected product.</p>
	</div>

<% end %>



<script type="text/javascript" charset="utf-8">
	  $(function() {

	    $('.multiselect').multiSelect();

	    $('#list_type_<%= @content.list_type %>').show();

	    $('input.list_type').change(function(e) {
	    	$('.list_type_option').hide();
				$( '#list_type_' + $(this).val() ).show();
		});
  });
</script>

