= content_tag :tr, :class => :coupon, :id => "coupon_#{coupon.id}", :"data-id" => coupon.id do
  %td.name
    = coupon.name
  %td.start_time
    = coupon.start_time
  %td.end_time
    - if coupon.end_time
      = coupon.end_time
      (
      = coupon.days_left
      days left )
    - else
      No end time
  %td.codes
    = coupon.coupon_codes.count
    total, 
    = coupon.redemption_count
    redeemed
  %td.published
  %td.actions
    %p.coupon-actions
      = link_to "Edit", edit_admin_store_coupon_path(coupon), :class => "small black edit button"
      = link_to "Delete", admin_store_coupon_path(coupon), :remote => true, :method => :delete, :class => "small red delete button"
