<%= content_tag :tr, :class => :coupon, :id => "coupon_#{coupon.id}", :"data-id" => coupon.id do %>
  <td class="code">
    <%= coupon.code %>
  </td>
  <td class="name">
    <%= coupon.name %>
  </td>
  <td class="start">
    <%= coupon.start %>
  </td>
  <td class="end">
    <%= coupon.end %>
  </td>
  <td class="days">
    <%= coupon.days_remaining %>
  </div>
  <td class="Active">
    <%= coupon.active ? "Yes" : "No" %>
  </td>
  <td class="actions">
    <p class="coupon-actions">
      <%= link_to "Edit", edit_admin_store_coupon_path(coupon), :class => "small black edit button" %>
      <%= link_to "Delete", admin_store_category_path(coupon), :remote => true, :method => :delete, :class => "small red delete button" %>
    </p>
  </td>
<% end %>

