= content_tag :tr, class: "coupon #{'active' if coupon.can_redeem?}", id: "coupon_#{coupon.id}", :"data-id" => coupon.id do
  %td.name
    = coupon.name
  %td.start_time
    = coupon.start_time.to_formatted_s(:rfc822)
  %td.end_time
    - if coupon.end_time
      = coupon.end_time.to_formatted_s(:rfc822)
      %br
      (
      = coupon.days_left
      days left )
    - else
      No end time
  %td.codes
    - if coupon.use_coupon_codes
      = coupon.coupon_codes.count
      total,
      = coupon.redemption_count
      redeemed
    - else
      Discount applies automatically
  %td.published
    .field
      = check_box_tag "coupon_#{coupon.id}_published", "1", coupon.published, :class => "published coupon-published", style: 'display: none;'
  %td.actions
    %p.coupon-actions
      = link_to "Download CSV file", admin_store_coupon_codes_path(format: :csv, coupon_id: coupon.id), :class => "small black show button"
      = link_to "Edit", edit_admin_store_coupon_path(coupon), :class => "small black edit button"
      = link_to "Delete", admin_store_coupon_path(coupon), :remote => true, :method => :delete, :class => "small red delete button"

:javascript
  $(function() {
    $('<div id="coupon_#{coupon.id}_published_toggle" class="published-toggle"></div>').insertAfter('#coupon_#{coupon.id}_published').css({
       'background-position': ($('#coupon_#{coupon.id}_published:checked').length > 0 ? 0 : 100) + '% 0%'
    })
  });
