= content_tag :tr, :class => :coupon, :id => "coupon_#{coupon.id}", :"data-id" => coupon.id do
  %td.code
    = coupon.code
  %td.name
    = coupon.name
  %td.start
    = coupon.start
  %td.end
    = coupon.end
  %td.days
    = coupon.days_remaining
    %td.Active
      = coupon.active ? "Yes" : "No"
    %td.actions
      %p.coupon-actions
        = link_to "Edit", edit_admin_store_coupon_path(coupon), :class => "small black edit button"
        = link_to "Delete", admin_store_coupon_path(coupon), :remote => true, :method => :delete, :class => "small red delete button"
