- content_for :title, "Coupons"
= pane_layout do |panes|
  = panes.inner do
    = scrollable_layout do
      %h1
        Coupons
        \#{link_to "New coupon", new_admin_store_coupon_path, :class => "large new green coupon button"}
      .filters
        = link_to "All (#{Breeze::Commerce::Coupon.count})", admin_store_coupons_path(:js), :class => "active"
        |
        \#{link_to "Drafts (#{Breeze::Commerce::Coupon.drafts.count})", admin_store_coupons_path(:js) + "?drafts"} |
        \#{link_to "Published (#{Breeze::Commerce::Coupon.published.count})", admin_store_coupons_path(:js) + "?published"}
      = render :partial => "breeze/admin/commerce/coupons/coupons", :object => @coupons
- content_for :left do
  = render :partial => "breeze/admin/commerce/shared/left"
