<% content_for :title, "Store Overview" %>

<%= pane_layout do |panes| %>
  <%= panes.inner do %>
    <%= scrollable_layout do %>
      <div id="store_dashboard">
        <div id="products" class="box col3">
          <h2>Your products</h2>
          <table class="at-a-glance">
            <%= at_a_glance store.products.published.count, "public product(s)", admin_store_products_path + "#tab_published" %>
            <%= at_a_glance store.customers.count, "registered customers", admin_store_products_path + "#tab_published" %>
            <%# at_a_glance store.products.pending.count, "product(s) scheduled for publication", admin_blog_posts_path + "#tab_pending" %>
            <%# at_a_glance blog.posts.draft.count, "draft(s)", admin_blog_posts_path + "#tab_draft" %>
            <%# at_a_glance blog.categories.count, "category(s)", admin_blog_settings_path + "#tab_categories" %>
            <%# at_a_glance blog.unique_tags.count, "tag(s)" %>
          </table>
          <p><%# last_published(blog) %></p>
        </div>
    
        <div id="top_products" class="box col3">
          <h2>Top Selling Products</h2>
        </div>
        
        <div id="top_customers" class="box col3">
          <h2>Top Customers</h2>
          <%= render :partial => "breeze/admin/commerce/customers/top_customers", :locals => { :customers => @top_customers.paginate(:page => params[:page], :per_page => 10) } %>
        </div>

      </div>
    <% end %>
  <% end %>
  <%= panes.footer do %>
    
  <% end %>
<% end %>

<% content_for :left do %>
  <%= render :partial => "breeze/admin/commerce/commerce/left" %>
<% end %>


