<%= pane_layout do |main| %>
  <%= main.inner do %>
    <%= breeze_form_for @order, :as => :order, :url => url do |form| %>

      <%= scrollable_layout do %>
        <h1><%= @order.new_record? ? 'New Order' : "Editing Order " %></h1>
        <%= render "/breeze/admin/shared/error_messages", :target => @order, :object_name => :order %>
        <%= tabbed_layout do |tabs| %>
          <% tabs.details :title => "Order Details" do %>
            <div id="order-details">
              <%= form.fieldset do %>

                <div id="order-customer">
                  <h3>Customer</h3>
                  <% if @order.customer %>
                    <%= render :partial => "breeze/admin/commerce/customers/customer", :object => @order.customer %>
                  <% else %>
                    Select a customer
                  <% end %>
                  <%= form.select :customer_id, Breeze::Commerce::Store.first.customers.map {|c|[ c.name, c.id ] }, { :required => true, :label => "Select customer"} %>
                </div>
                  
                <div id="order-shipping_address">
                  <h3>Shipping Address</h3>
                  <% if @order.shipping_address %>
                    <%= render :partial => "breeze/admin/commerce/addresses/address", :object => @order.shipping_address %>
                  <% else %>
                    Enter a shipping address
                  <% end %>

                </div>

                <div id="order-billing_address">
                  <h3>Billing Address</h3>
                  <% if @order.billing_address %>
                    <%= render :partial => "breeze/admin/commerce/addresses/address", :object => @order.billing_address %>
                  <% else %>
                    Enter a billing address
                  <% end %>
                </div>

                <div id="order-line_items">
                  <h3>Line Items</h3>
                  <%= render :partial => "breeze/admin/commerce/line_items/line_items", :object => @order.line_items %>
                </div>              

                <div id="order-shipping_method">
                  <h3>Shipping Method</h3>
                  <%= form.select :shipping_method_id, Breeze::Commerce::Store.first.shipping_methods.map {|s|[ s.name, s.id ] }, { :required => true, :label => "Select shipping method"} %>

                </div>

                <div id="order-status">
                  <h3>Status</h3>
                  <%= form.select :order_status_id, Breeze::Commerce::Store.first.order_statuses.map{|s| [ s.name, s.id]}, :wrap => { :class => :status } %>
                </div>

              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <%= fake_right_sidebar do %>
        <%= scrollable_layout do %>
           <%= link_to "View", admin_store_customer_path(@order), :class => "large view button", :target => :_blank unless @order.new_record? %>
          <%= submit_tag "Save", :class => "large green save button" %>
          <%= link_to "Delete", admin_store_customer_path(@order, :format => :js), :method => :delete, :remote => true, :class => "large red delete button" unless @order.new_record? %>
        <% end %> 
      <% end %>

    <% end %>
  <% end %>
<% end %>

<% content_for :left do %>
  <%= render :partial => "breeze/admin/commerce/commerce/left" %>
<% end %>

<% content_for :right do %>
  <%= pane_layout do |right| %>
    <% right.header do %>

    <% end %>
  <% end %>
<% end %>
