<%= pane_layout do |main| %>
  <%= main.inner do %>
    <%= breeze_form_for @order, :as => :order, :url => url do |form| %>
      <%= scrollable_layout do %>
        <h1><%= @order.new_record? ? 'New Order' : "Editing Order \"#{@order.title}\"" %></h1>
        <%= render "/breeze/admin/shared/error_messages", :target => @order, :object_name => :order %>
        <%= tabbed_layout do |tabs| %>
          <% tabs.details :title => "Order Details" do %>
            <div id="order-details">
              <%= form.fieldset do %>
                TODO: Store admins will be able to manually create an order here.
                <%# form.text_field :title, :required => false, :label => "Customer Name" %>
                <%# form.text_field :first_name, :required => true %>
                <%# form.text_field :last_name, :required => true %>
                <%# form.text_field :phone, :required => false %>
                <%# form.text_field :email, :required => true %>
                <%# form.password_field :password %>
                <%# form.password_field :password_confirmation %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <%= fake_right_sidebar do %>
        <%= scrollable_layout do %>
           <%= link_to "View", admin_store_customer_path(@order), :class => "large view button", :target => :_blank unless @order.new_record? %>
          <%= submit_tag "Save", :class => "large green save button" %>
          <%= link_to "Delete", admin_store_customer_path(@order, :format => :js), :method => :delete, :remote => true, :class => "large red delete button" unless @order.new_record? %>
        <% end %> 
      <% end %>

    <% end %>
  <% end %>
<% end %>

<% content_for :left do %>
  <%= render :partial => "breeze/admin/commerce/commerce/left" %>
<% end %>

<% content_for :right do %>
  <%= pane_layout do |right| %>
    <% right.header do %>

    <% end %>
  <% end %>
<% end %>
