<%= content_tag :tr, :class => :order, :id => "order_#{order.id}", :"data-id" => order.id do %>
  <td class="date">
    <%= order.created_at %>
  </td>
  <td class="customer">
    <% if order.customer %>
      <%= link_to order.customer.name, edit_admin_store_customer_path(order.customer) %>
    <% else %>
      Guest    
    <% end %>
    <br />
    <%= order.email %>
  </td>
  <td class="contact">
    <%= order.billing_address.to_html if order.billing_address  %>
  </td>
  <td class="shipping_address">
     <%= order.shipping_address.to_html if order.shipping_address %>
 </div>
  <td class="amount">
    <%= number_to_currency(order.total, :locale => :nz) %>
  </td>
  <td class="actions">
    <p class="order-actions">
      <%= link_to "Details", admin_store_order_path(order), :remote => true, :class => "small black disclosure button"  %>
      <%= link_to "Edit", edit_admin_store_order_path(order), :class => "small black button" %>
      <%= link_to "Delete", admin_store_order_path(order, :format => :js), :method => :delete, :remote => true, :class => "small red delete button" %>
    </p>
  </td>
<% end %>


