.orders-container
  %table.fancy.contextual.orders
    %thead
      %tr
        %th.date.first
          = sortable "transaction_completed_at", "Payment&nbsp;Date"
        %th.total
          = sortable "total", "Total"
        %th.customer
          = sortable "email", "Customer"
        %th.shipping Shipping Address
        %th.line_items Line Items
        %th.shipping_status
          = sortable "shipping_status", "Shipping Status"
        %th.billing_status
          = sortable "billing_status", "Billing Status"
        %th.actions.last Actions
    %tbody
      - if orders.any?
        = render :partial => "breeze/admin/commerce/orders/order", :collection => orders, locals: {count: orders.count}
      - else
        %tr
          %td.empty{:colspan => "6"} There are no orders yet.
    %tfoot
      %tr