= form_for @customer, as: :customer, url: breeze.customer_path(@customer), html: { class: "edit_customer"} do |form|
  = render "/breeze/admin/shared/error_messages", :target => @customer, :object_name => :customer
  #customer-details
    %fieldset.identity
      .control-group
        = form.label :first_name, class: "control-label required" do |label|
          First (Personal) Name:
          %span.required *
        .control
          = form.text_field :first_name, required: true
      .control-group
        = form.label :last_name, class: "control-label required" do |label|
          Last (Family) Name:
          %span.required *
        .control
          = form.text_field :last_name, required: true
      .control-group
        = form.label :email, class: "control-label required" do |label|
          Email Address:
          %span.required *
        .control
          = form.email_field :email, required: true
    %fieldset.password
      %legend Password
      .control-group
        = form.label :password, class: "control-label" do |label|
          Password:
        .control
          = form.password_field :password
      .control-group
        = form.label :password_confirmation, class: "control-label" do |label|
          Password Confirmation:
        .control
          = form.password_field :password_confirmation
    = form.fields_for :billing_address, @customer.billing_address do |bill_form|
      %fieldset.address-billing.address
        %legend Billing Address
        .control-group
          = bill_form.label :name, class: "control-label required" do |label|
            Name:
            %span.required *
          .control
            = bill_form.text_field :name, required: true, placeholder: 'Jane Doe'
        .control-group
          = bill_form.label :address, class: "control-label required" do |label|
            Address
            %span.required *
          .control
            = bill_form.text_area :address, required: true, :placeholder => '123 Babbling Brook Lane                                                                          Riverton', :rows => 2
        .control-group
          = bill_form.label :city, class: "control-label required" do |label|
            City
            %span.required *
          .control
            = bill_form.text_field :city, required: true, :placeholder => 'Christchurch', :class => 'input-medium'
        .control-group
          = bill_form.label :state, class: "control-label" do |label|
            State, Province or Region
            %span.optional (optional)
          .control
            = bill_form.text_field :state, :placeholder => 'Canterbury', :class => 'input-medium'
        .control-group
          = bill_form.label :postcode, class: "control-label" do |label|
            Postcode
            %span.optional (optional)
          .control
            = bill_form.text_field :postcode, class: 'input-small'
        .control-group
          = bill_form.label :country, class: "control-label required" do |label|
            Country
            %span.required *
          .control
            = bill_form.select :country, @billing_countries, :class => :required
        .control-group
          = bill_form.label :phone, class: "control-label" do |label|
            Contact Phone Number
            %span.optional (optional)
          .control
            = bill_form.text_field :phone, :placeholder => '64 3 1234567', :class => 'input-medium'

    = form.fields_for :shipping_address, @customer.shipping_address do |ship_form|
      %fieldset.address-shipping.same
        %legend Shipping Address
        = ship_form.label :same do |label|
          = check_box_tag :same, :same, @same_address
          Same as my Billing Address
      %fieldset.address-shipping.address{style: ("display: none;" if @same_address)}
        .control-group
          = ship_form.label :name, class: "control-label required" do |label|
            Name:
            %span.required *
          .control
            = ship_form.text_field :name, required: true, placeholder: 'Jane Doe'
        .control-group
          = ship_form.label :address, class: "control-label required" do |label|
            Address
            %span.required *
          .control
            = ship_form.text_area :address, required: true, :placeholder => '123 Babbling Brook Lane                                                                          Riverton', :rows => 2
        .control-group
          = ship_form.label :city, class: "control-label required" do |label|
            City
            %span.required *
          .control
            = ship_form.text_field :city, required: true, :placeholder => 'Christchurch', :class => 'input-medium'
        .control-group
          = ship_form.label :state, class: "control-label" do |label|
            State, Province or Region
            %span.optional (optional)
          .control
            = ship_form.text_field :state, :placeholder => 'Canterbury', :class => 'input-medium'
        .control-group
          = ship_form.label :postcode, class: "control-label" do |label|
            Postcode
            %span.optional (optional)
          .control
            = ship_form.text_field :postcode, class: 'input-small'
        .control-group
          = ship_form.label :country, class: "control-label required" do |label|
            Country
            %span.required *
          .control
            = ship_form.select :country, @shipping_countries.map{|country| country.name}, :class => :required
        .control-group
          = ship_form.label :phone, class: "control-label" do |label|
            Contact Phone Number
            %span.optional (optional)
          .control
            = ship_form.text_field :phone, :placeholder => '64 3 1234567', :class => 'input-medium'
  .form-actions
    .btn-group
      = submit_tag "Save", :class => "btn btn-primary"
      = link_to "Cancel", breeze.customer_path(@customer), class: "btn", id: "btn-show_customer_profile" unless @customer.new_record?
