= form_for @customer, as: :customer, url: breeze.customer_path(@customer), html: { class: "edit_customer"} do |form|
  = render "/breeze/admin/shared/error_messages", :target => @customer, :object_name => :customer
  #customer-details
    %fieldset.identity
      %legend Identity
      .control-group
        = form.label :first_name, class: "control-label required" do |label|
          First (Personal) Name:
          %span.required *
        .control
          = form.text_field :first_name, required: true
      .control-group
        = form.label :last_name, class: "control-label required" do |label|
          Last (Family) Name:
          %span.required *
        .control
          = form.text_field :last_name, required: true
      .control-group
        = form.label :email, class: "control-label required" do |label|
          Email Address:
          %span.required *
        .control
          = form.email_field :email, required: true
    %fieldset.password
      %legend Password
      .control-group
        = form.label :password, class: "control-label" do |label|
          Password:
        .control
          = form.password_field :password
      .control-group
        = form.label :password_confirmation, class: "control-label" do |label|
          Password Confirmation:
        .control
          = form.password_field :password_confirmation

    = form.fields_for :billing_address, @customer.billing_address do |bill_form|
      %fieldset.address-billing.address
        %legend Billing Address
        %ol#customer_billing_address.form
          = render :partial => "breeze/commerce/addresses/address_fields", locals: { form: bill_form, countries: @billing_countries, address: @customer.billing_address }

    = form.fields_for :shipping_address, @customer.shipping_address do |ship_form|
      %fieldset.address-shipping.same
        %legend Shipping Address
        = ship_form.label :same do |label|
          = check_box_tag :same, :same, @same_address
          Same as my Billing Address
      %fieldset.address-shipping.address{style: ("display: none;" if @same_address)}
        %ol#customer_billing_address.form
          = render :partial => "breeze/commerce/addresses/address_fields", locals: { form: ship_form, countries: @shipping_countries, address: @customer.shipping_address }

  .form-actions
    .btn-group
      = submit_tag "Save", :class => "btn btn-primary"
      = link_to "Cancel", breeze.customer_path(@customer), class: "btn", id: "btn-show_customer_profile" unless @customer.new_record?
