= form_for @property, as: :property, url: url, remote: true, html: {class: "breeze-form"} do |form|
  = render "/breeze/admin/shared/error_messages", :target => @property, :object_name => :property
  %fieldset
    %ol.form
      %li.text_field
        = form.label :name do |label|
          Name
          %abbr{title: "required"}
            *
        = form.text_field :name, :required => true, placeholder: "Colour"
  %fieldset.options
    %legend Options
    %ul.options.association
      = form.fields_for :options do |option_fields|
        = render 'breeze/admin/commerce/properties/option_fields', form: option_fields
    = link_to_add_fields "Add Option", form, :options, 'breeze/admin/commerce/properties/option_fields'

:javascript
  function remove_option_fields(link) {
    $(link).prev("input[type=hidden]").val(true);
    $(link).closest(".option").hide();
  };
  function add_fields(link, association, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g");
    $(link).parent().find("ul").append(content.replace(regexp, new_id));
  };