- content_for :head do
  = stylesheet_link_tag "breeze/marquess/marquess.css"

= breeze_form_for @product, :as => :product, :url => url do |form|    
  #product-details.box.container
    .actions
      - unless @product.new_record?
        = form.fieldset :id => "product-published" do
          = form.check_box :published, label: 'Published', style: 'display: none;'
      = link_to "View Product", @product.permalink, :class => "large view button", :target => :_blank unless @product.new_record?
      = submit_tag "Save Product", :class => "large green save button"
      = link_to "Delete Product", admin_store_product_path(@product, :format => :js), :method => :delete, :remote => true, :class => "large red delete button" unless @product.new_record?

    %h1= @product.new_record? ? 'New Product' : "Editing Product \"#{@product.title}\""
    = render "/breeze/admin/shared/error_messages", :target => @product, :object_name => :product

    = form.hidden_field :parent_id

    = form.fieldset do
      = form.text_field :title, required: true, label: "Product Name", class: 'name'
      = form.text_field :teaser
      %li.text_field
        = form.label :slug, nil, :required => true
        %span.field
          http://#{"#{request.host_with_port}#{form.object.parent.permalink}#{'/' unless form.object.parent.root?}"}#{form.text_field :slug, :wrap => false, :size => 16}
        = form.errors_for :slug
      = form.select :tag_ids, Breeze::Commerce::Tag.all.map {|c|[ c.name, c.id ] }, { :label => "Tags"}, :class => "multiselect", :multiple => "multiple"
  - unless @product.new_record?
    #product-images.box.container
      = render partial: "breeze/admin/commerce/product_images/product_images", :object => @product.images
    #product-properties.box.container
      = render :partial => "breeze/admin/commerce/properties/properties", :object => @product.properties
    #product-variants.box.container
      = render :partial => "breeze/admin/commerce/variants/variants", :object => @product.variants.unarchived.ordered
    #product-relationships.box.container
      = render :partial => "breeze/admin/commerce/relationships/relationships", :object => @product.product_relationship_children

