<%#= content_tag :div, :class => "image", :id => "image_#{image.id}", :"data-filename" => image.basename, :"data-width" => image.image_width, :"data-height" => image.image_height, :"data-id" => image.id do %>
<%= content_tag :div, :class => "image", :id => "image_#{image.id}", :"data-width" => image.image_width, :"data-height" => image.image_height, :"data-id" => image.id do %>
  <%#= content_tag :div, :class => "icon #{image.extension}" do %>
  <%= content_tag :div, :class => "icon" do %>
    <%= image_tag image.file.url(:breeze_thumb) %>
  <% end %>
  <%= content_tag :div, :class => :meta do %>
    <span class="filename" title="<%#= image.basename %>"><%#= truncate image.basename, :length => 22 %></span>
    <small class="dimensions"><%= image.image_width || "??" %> &times; <%= image.image_height || "??" %>, <abbr><%#= image.extension %></abbr></small>
  <% end %>
  <%= content_tag :div, :class => :links do %>
    <%#= link_to "Edit", edit_admin_store_product_product_image_path(@product, image), :class => :edit, :rel => :edit %>
    <%= link_to "Delete", admin_store_product_product_image_path(@product, image), :method => :delete, :remote => true, :class => :delete, :rel => :delete %>
  <% end %>
<% end %>

