<%= content_tag :tr, :class => "product", :id => "product_#{product.id}" do %>
  <td class="first"><%= check_box_tag "product_ids[]", product.id %></td>
  <td class="image">
    <% if false %>
    <% unless product.images.empty? %>
      <%= image_tag product.images.ordered.first.file.url(:breeze_thumb) %>
    <% end %>
  <% end %>
  </td>
  <td class="name">
    <%= link_to product.title, edit_admin_store_product_path(product), :class => "name-link" %>
    <div class="categories">
      <%= product.categories.collect(&:name).join(', ') %>
    </div>
  </td>
  <td class="price">
    <% if product.variants.count > 1 %>
      From
    <% end %>
    <%= number_to_currency(product.display_price, :locale => :nz) %><span class="currency">NZD</span>
  </td>
  <td class="last-edited"><%= product.updated_at %></td>
  <td class="available"><%= product.available ? 'Available' : 'Not Available' %>
    <%# TODO: Slider switch here %>
  </td>
  <td class="actions last">
    <p class="product-actions">
      <%= link_to "View", product.permalink, :target => :_blank, :class => "small black button" %>
      <%= link_to "Edit", edit_admin_store_product_path(product), :class => "small black button" %>
      <%= link_to "Delete", admin_store_product_path(product), :remote => true, :method => :delete, :class => "small red delete button" %>
    </p>
  </td>
<% end %>
