= content_tag :tr, :class => "product", :id => "product_#{product.id}" do
  %td.first
    = check_box_tag "product_ids[]", product.id
  %td.product
    .image-container
      - unless product.images.empty?
        = image_tag product.images.ordered.first.file.url(:thumbnail)
    = link_to product.title, edit_admin_store_product_path(product), :class => "name-link"
    .tags
      = product.tags.collect(&:name).join(', ')  
  %td.variants
    %span.badge
      = product.images.count
  %td.price
    - if product.variants.count > 1
      From
      = number_to_currency(product.display_price, :locale => :nz)
      %span.currency 
        = product.store.currency
    - else
      No price yet.
  %td.published
    = product.published ? 'Published' : 'Not Published'
  %td.last_update
    = product.last_update
  %td.actions.last
    %p.product-actions
      = link_to "View", product.permalink, :target => :_blank, :class => "small black button"
      = link_to "Edit", edit_admin_store_product_path(product), :class => "small black button"
      = link_to "Delete", admin_store_product_path(product), :remote => true, :method => :delete, :class => "small red delete button"