- classes = 'product'
- classes += ' first' if product_counter == 0
- classes += ' last' if product_counter + 1 == count

= content_tag :tr, class: classes, :id => "product_#{product.id}" do
  %td.first
    = check_box_tag "product_ids[]", product.id
  %td.product
    .image-container
      - unless product.images.empty?
        = image_tag product.images.ordered.first.file.url(:thumbnail)
    %h4
      = link_to product.title, edit_admin_store_product_path(product), :class => "name-link"
    .tags
      = product.tags.collect(&:name).join(', ')  
  %td.variants
    - unarchived_variants = product.variants.unarchived
    %span.badge
      = unarchived_variants.count
    - if unarchived_variants.exists?
      - if unarchived_variants.published.count == 0
        No published variants
      - elsif product.single_display_price?
        = number_to_currency(product.display_price, :locale => :nz)
        %span.currency= currency
      - else
        From
        = number_to_currency(product.display_price_min, :locale => :nz)
        %span.currency= currency
        to
        = number_to_currency(product.display_price_max, :locale => :nz)
        %span.currency= currency

  %td.published
    = product.published ? 'Published' : 'Not Published'
  %td.last_update
    = product.last_update
  %td.actions.last
    %p.product-actions
      = link_to "View", product.permalink, :target => :_blank, :class => "small black button"
      = link_to "Edit", edit_admin_store_product_path(product), :class => "small black button"
      = link_to "Delete", admin_store_product_path(product), :remote => true, :method => :delete, :class => "small red delete button"