<div class="products-container container">
	<%= form_tag admin_store_products_path, :method => :put do -%>
    <div class="with-selected" style="display: none;">
      <strong>With selected:</strong>
      <%= link_to "Publish", mass_update_admin_store_products_path, :class => "small green publish button" %>
      <%= link_to "Unpublish", mass_update_admin_store_products_path, :class => "small unpublish button" %>
      <%= link_to "Delete", mass_destroy_admin_store_products_path, :class => "small red delete button" %>
    </div>
    <table class="fancy products">
      <thead>
        <tr>
          <th class="first select" style="width:2em;"><input class="checkbox select-all" type="checkbox" /></th>
          <th class="product">Product</th>
          <th class="variants">Variants</th>
          <th class="price">Price</th>
          <th class="published">Published</th>
          <th class="last_update">Last Update</th>
          <th class="last actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if products.any? -%>
	        <%= render :partial => "breeze/admin/commerce/products/product", :collection => products %>
        <% else -%>
	        <tr><td class="empty" colspan="8">There are no products to show here.</td></tr>
        <% end -%>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="8"><%#= will_paginate products, :params => { :controller => "breeze/commerce/products", :action => view } %>&nbsp;</td>
        </tr>
      </tfoot>
    </table>
	<% end -%>
</div>

