<%= content_tag :tr, :class => :relationship, :id => "relationship_#{relationship.id}", :"data-product-id" => @product.id do %>
  <td class="image">
  </td>
  <td class="name">
    <%= relationship.kind.humanize.downcase %>
  </td>
  <td>
    <%= relationship.child_product.title %>
  </td>
  <td>
  </td>
  <td class="actions">
    <p class="relationship-actions">
      <%= link_to "Delete", admin_store_product_product_relationship_path(@product, relationship, :format => :js), :method => :delete, :remote => true, :class => "small red delete button" %>
      <%= link_to "Edit", edit_admin_store_product_product_relationship_path(@product, relationship), :class => "small black edit button" %>
    </p>
  </td>
<% end %>

