- classes = ' status-shipping-' + order.shipping_status.name.parameterize.underscore
- classes += ' status-billing-' + order.billing_status.name.parameterize.underscore
%li{class: "order #{classes}", id: "order_#{order.id}", :"data-id" => order.id}
  .order-identification
    .order-date
      - if order.transaction_completed_at
        %span= order.transaction_completed_at.strftime "%A %d %B %Y"
      - else
        Unfinished Order
    .order-number
      %span Order Number:
      %span= order.order_number
  .order-line_items.clearfix
    = render :partial => "breeze/commerce/line_items/line_items_show", :locals => { line_items: order.line_items.unarchived }
    = render :partial => "breeze/commerce/coupons/coupon_show", locals: { order: order }
    = render :partial => "breeze/commerce/shipping_methods/shipping_methods_show", locals: { order: order }
    = render :partial => "breeze/commerce/orders/total", locals: { order: order }
  .order-billing
    .order-billing_address.address
      %h4 Billing Address
      - if order.billing_address
        = render :partial => "breeze/admin/commerce/addresses/address", :object => order.billing_address
      - else
        Enter a billing address
  .order-shipping
    .order-shipping_address.address
      %h4 Shipping Address
      - if order.shipping_address
        = render :partial => "breeze/admin/commerce/addresses/address", :object => order.shipping_address
      - else
        Enter a shipping address
  .order-payments
    = render :partial => "breeze/commerce/payments/payments", locals: {payments: order.payments}
  .order-status
    %h4 Status
    .status.billing_status
      = order.shipping_status.name
    .status.shipping_status
      = order.billing_status.name
  .order-actions
    - if order.can_resend?
      = form_tag breeze.orders_path(order), method: :post do |form|
        = hidden_field_tag :old_order_id, order.id
        = submit_tag "Order Again", class: "btn btn-order-again"
    - else
      This order can't be made again, as our product line has changed.