= content_tag :tr, :class => :order, :id => "order_#{order.id}", :"data-id" => order.id do
  %td.date
    = order.created_at
  %td.products
    - order.line_items.each do |item|
      = item.quantity
      = item.product.title
  %td.amount
    = order.total
  %td.billing
    %p
      = order.billing_address
    %p
      = order.billing_status.name
  %td.shipping
    %p
      = order.shipping_address
    %p
      = order.shipping_status.name

