- content_for :head do
  %title Checkout
  :javascript
    $(document).ready(function(){
      $("#new_customer").validate({
        // onkeyup: false,
        errorElement: 'span',
        errorClass: 'help-inline',
        highlight: function(label) {
          $(label).closest('.control-group').removeClass('success').addClass('error');
        },
        success: function(label) {
          label
            .append('')
            .closest('.control-group').removeClass('error').addClass('success');
        }
      });
      $("#checkout-form").validate({
        // onkeyup: false,
        errorElement: 'span',
        errorClass: 'help-inline',
        highlight: function(label) {
          $(label).closest('.control-group').removeClass('success').addClass('error');
        },
        success: function(label) {
          label
            .append('')
            .closest('.control-group').removeClass('error').addClass('success');
        }
      });
    });
    
.row
  #checkout-header.span12
    %h1 Secure Checkout
- flash.each do |key, msg|
  %div{:class => "alert-#{key} alert-block alert"}
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    %p= msg
    .clear
= form_for @order, :url => breeze.submit_order_path, :html => {:method => :put, :id => "checkout-form"} do |order_form|
  .row.cart-container
    .span12
      = render :partial => "breeze/commerce/line_items/line_items", :object => @order.line_items.unarchived, :locals => { :form => order_form }
      .form-actions
        .btn-group
          = link_to store.home_page.permalink, :class => "btn", :id => "continue-shopping" do
            %i.icon-arrow-left
            %span.title Continue Shopping
          = link_to breeze.cart_path, :class => "btn", :id => "edit-items" do
            %i.icon-shopping-cart
            %span.title Edit Cart
  #checkout-container.row
    .span12
      #sign-in{"data-customer_signed_in" => customer_signed_in? ? 'true' : 'false', "data-foo" => "bar"}
        .checkout-header.active
          %h3.heading
            %span Step
            %span.number 1
            %span.description
              - if @allow_returning_customer_login
                Sign In or Proceed as a Guest
              - else
                Contact Email Address
        .checkout-body
          - if customer_signed_in?
            Signed in as #{current_store_customer.name}
            \#{link_to 'Sign Out', breeze.destroy_store_customer_session_path, :class => 'btn'}
            .form-actions
              = link_to '#', :class => "btn btn-primary", :id => "continue-1a" do
                %i.icon-arrow-down.icon-white
                %span.title Continue to next step
          - else
            = form_for @customer, :url => breeze.customer_session_path do |form|
              %fieldset
                %legend Email Address
                %ol.form
                  %li
                    .control-group
                      = form.label :email, :class => "control-label" do |label|
                        Email:
                        %span.required *
                      .controls
                        = form.text_field :email, :class=>"required email", :placeholder => 'name@example.com'
                    %span.help-block We'll send a confirmation email to this address
                  - if @allow_returning_customer_login
                    %li
                      = form.label :returning_customer do |label|
                        = check_box_tag :returning_customer, :returning_customer, false
                        I'm a returning customer
                    %li#returning_customer_password{:style => "display: none;"}
                      = form.label :password do |label|
                        Password
                        %span.required *
                      = form.password_field :password
                      = link_to 'Sign in', breeze.store_customer_session_path, :class => 'btn btn-primary', :id => 'button-sign_in'

            .form-actions
              = link_to '#', :class => "btn btn-primary", :id => "continue-1b" do
                %i.icon-arrow-down.icon-white
                %span.title Continue to next step
        .checkout-summary
          .form-actions
            - if customer_signed_in?
              = link_to 'Sign Out', breeze.destroy_store_customer_session_path, id: 'sign-out', :class => 'btn'
            - else
              = link_to 'Edit Sign In', '#', :class => "btn", :id => "edit-sign-in"
          .summary
            - if customer_signed_in?
              %p
                Signed in as #{current_store_customer.name}
              %p
                Email: #{current_store_customer.email}
            - else
              %p
                Email:
                %span#guest_email
        #shipping
          .checkout-header
            %h3.heading
              %span Step
              %span.number 2
              %span.description Shipping
          .checkout-body
            = order_form.hidden_field :email, :class => :required, :value => @customer.email
            = order_form.fields_for :shipping_address do |ship_form|
              %fieldset.address-shipping.address
                %legend Shipping Address
                %ol#order_shipping_address.form
                  %li.name
                    .control-group
                      = ship_form.label :name do |label|
                        Name:
                        %span.required *
                      .controls
                        = ship_form.text_field :name, :class => :required, :value => @customer.name, :placeholder => 'Jane Doe'
                  %li.address
                    .control-group
                      = ship_form.label :address do |label|
                        Address
                        %span.required *
                      .controls
                        = ship_form.text_area :address, :class => :required, :value => @customer.shipping_address.address, :placeholder => '123 Babbling Brook Lane                                                                          Riverton', :rows => 2
                  %li
                    .control-group
                      = ship_form.label :city do |label|
                        City
                        %span.required *
                      .controls
                        = ship_form.text_field :city, :value => @customer.shipping_address.city, :placeholder => 'Christchurch', :class => 'required input-medium'
                  %li.state
                    .control-group
                      = ship_form.label :state do |label|
                        State, Province or Region
                        %span.optional (optional)
                      .controls
                        = ship_form.text_field :state, :value => @customer.shipping_address.state, :placeholder => 'Canterbury', :class => 'input-medium'
                  %li.state
                    .control-group
                      = ship_form.label :postcode do |label|
                        Postcode
                        %span.optional (optional)
                      .controls
                        = ship_form.text_field :postcode, :value => @customer.shipping_address.postcode, :class => 'input-small'
                  %li.country
                    .control-group
                      = ship_form.label :country do |label|
                        Country
                        %span.required *
                      .controls
                        = ship_form.select :country, Breeze::Commerce::COUNTRIES, :selected => (@customer.shipping_address.country ||'New Zealand'), :class => :required
                  %li.phone
                    .control-group
                      = ship_form.label :phone do |label|
                        Contact Phone Number
                        %span.optional (optional)
                      .controls
                        = ship_form.text_field :phone, :value => @customer.phone, :placeholder => '64 3 1234567', :class => 'input-medium'
            .form-actions
              = link_to '#', :class => "btn btn-primary", :id => "continue-2" do
                %i.icon-arrow-down.icon-white
                %span.title Continue to next step
          .checkout-summary
            .form-actions
              = link_to '#', :class => "btn", :id => "edit-shipping" do
                %span.title Edit Shipping
            .summary
        #billing
          .checkout-header
            %h3.heading
              %span Step
              %span.number 3
              %span.description Payment
          .checkout-body
            / TODO: Payment options to go here (e.g. Paypal / Payment Express)
            = order_form.fields_for :billing_address do |bill_form|
              %fieldset.address-billing.same
                %legend Billing Address
                = bill_form.label :same do |label|
                  = check_box_tag :same, :same, true
                  Same as my Shipping Address
              %fieldset.address-billing.address
                %ol#order_billing_address.form{:style => "display: none;"}
                  %li.name
                    .control-group
                      = bill_form.label :name do |label|
                        Name:
                        %span.required *
                      .controls
                        = bill_form.text_field :name, :class => :required, :placeholder => 'Jane Doe'
                  %li.address
                    .control-group
                      = bill_form.label :address do |label|
                        Address
                        %span.required *
                      .controls
                        = bill_form.text_area :address, :class => :required, :placeholder => '123 Babbling Brook Lane                                                                          Riverton', :rows => 2
                  %li
                    .control-group
                      = bill_form.label :city do |label|
                        City
                        %span.required *
                      .controls
                        = bill_form.text_field :city, :placeholder => 'Christchurch', :class => 'required input-medium'
                  %li.state
                    .control-group
                      = bill_form.label :state do |label|
                        State, Province or Region
                        %span.optional (optional)
                      .controls
                        = bill_form.text_field :state, :placeholder => 'Canterbury', :class => 'input-medium'
                  %li.state
                    .control-group
                      = bill_form.label :postcode do |label|
                        Postcode
                        %span.optional (optional)
                      .controls
                        = bill_form.text_field :postcode, :class => 'input-small'
                  %li.country
                    .control-group
                      = bill_form.label :country do |label|
                        Country
                        %span.required *
                      .controls
                        = bill_form.select :country, Breeze::Commerce::COUNTRIES, :class => :required
                  %li.phone
                    .control-group
                      = bill_form.label :phone do |label|
                        Contact Phone Number
                        %span.optional (optional)
                      .controls
                        = bill_form.text_field :phone, :placeholder => '64 3 1234567', :class => 'input-medium'
            .form-actions
              = link_to '#', :class => "btn btn-primary", :id => "continue-3" do
                %i.icon-arrow-down.icon-white
                %span.title Continue to next step
          .checkout-summary
            .form-actions
              = link_to '#', :class => "btn", :id => "edit-payment" do
                %span.title Edit Payment
            .summary
        #create-account
          .checkout-header
            %h3.heading
              %span Step
              %span.number 4
              %span.description Confirmation
          .checkout-body
            - if @customer.new_record? and @allow_returning_customer_login
              %fieldset
                %legend Save my details
                %ol.form
                  %li
                    = order_form.label :create_new_account do |label|
                      = check_box_tag :create_new_account, :create_new_account, false
                      I'd like my contact information saved for future visits
                      %span.optional (optional)
                  <li id="new_account_password", style="display: none;">
                  \#{order_form.label :new_account_password, 'Add a password for your account'}
                  \#{password_field_tag :new_account_password}
                  \#{order_form.label :new_account_password_confirmation}
                  \#{password_field_tag :new_account_password_confirmation}
            %fieldset
              %legend Terms and Conditions
              %ol.form
                %li
                  = order_form.label :read_terms do |label|
                    = check_box_tag :read_terms, :read_terms, false, :class => :required
                    I accept the
                    %a{:href => "/terms_and_conditions", :target => "_blank"} terms and conditions
                    %span.required *
            %fieldset
              %legend Add an Optional Comment
              %ol.form
                %li
                  = order_form.label :comment do |label|
                    Comment
                    %span.optional (optional)
                  = order_form.text_area :comment, :class => 'input-xxlarge', :rows => 2
            .form-actions
              = content_tag :button, :type => :submit, :id => "continue-4", :class => "btn btn-primary btn-large" do
                %i.icon-ok-sign.icon-white
                Pay Now
          .checkout-summary
            .form-actions
              = link_to '#', :class => "btn", :id => "changed-my-mind" do
                %span.title Edit Confirmation