<%= stylesheet_link_tag "/breeze/stylesheets/commerce" %>
<div id="checkout-container">
<div id="checkout-header">
  <h1>Secure Checkout</h1>
</div>
<div id="left">
<div id="sign-in">
  <div class="checkout-header">
    <span>Step</span>
    <div class="heading">
      <span>Sign In or Proceed as a Guest</span>
    </div>
  </div>
  <div class="checkout-body">
    <fieldset>
      <legend>Returning Customer</legend>
      <ol class="form">
        <li>
          
        </li> 
      </ol>
    </fieldset>
  </div>
</div>  
  <%= form_for :order do |order_form| %>
    <div id="shipping-address">
      <div class="checkout-header">
        <span class="active">Step</span>
        <div class="heading">
          <span>Shipping Information</span>
        </div>
      </div>
      <div class="checkout-body">
        <fieldset>
          <legend>Enter an Email Address </legend>
          <ol class="form">
            <li>
            <%= order_form.text_field :email, :class => :long %>
            </li>
            <li>  
            <%= order_form.check_box :subscribe %>
            <%= order_form.label :subscribe, "Subscribe to our newsletter", :class => :long %>
            </li>
          </ol>
        </fieldset>
      <%= order_form.fields_for :shipping_address do |ship_form| %>
    <fieldset>
      <legend>Enter Shipping Address</legend>
      <ol class="form">
        <li>
          <%= ship_form.label :first_name %>
          <%= ship_form.text_field :first_name %>
          </li>
          <li>
            <%= ship_form.label :last_name %>
            <%= ship_form.text_field :last_name %>
            </li>
          <li>
            <%= ship_form.label :phone %>
            <%= ship_form.text_field :phone %>
            </li>
            <li>
              <%= ship_form.label :address %>
              <%= ship_form.text_field :address %>
            </li>
          <li>
            <%= ship_form.label :suburb %>
            <%= ship_form.text_field :suburb %>
            </li> 
            <li>
              <%= ship_form.label :city %>
              <%= ship_form.text_field :city %>
            </li>
      </ol>
    </fieldset>
  <% end %>
    <fieldset>
      <legend>Shipping Method</legend>
      <ol class="form">
        <li>    
        </li>
      </ol>
    </fieldset>
    <fieldset>
      <legend>Gift Options</legend>
      <ol class="form">
        <li>
          <%= order_form.check_box :gift %>
          <%= order_form.label :gift, "Is this order being sent as a gift?", :class => :long %>
        </li>
      </ol>
    </fieldset>
    <%= link_to '/products', :class => "multi-line-button green" do %>
      <span class="title">Continue to next step</span>
      <span class="subtitle">Payment Information</span>
    <% end %>    
  </div>
</div>
<div id="payment-information">
  <div class="checkout-header">
    <span>Step</span>
    <div class="heading">
      <span>Payment Information</span>
    </div>
  </div>
  <div class="checkout-body">
    <fieldset>
      <legend>Enter Payment Address</legend>
      <ol class="form">
        <li>

        </li> 
      </ol>
    </fieldset>
  </div>
</div>
<div id="create-acount">
  <div class="checkout-header">
    <span>Step</span>
    <div class="heading">
      <span>Create Account (optional)</span>
    </div>
  </div>
  <div class="checkout-body">
    <fieldset>
      <legend>Would you like to create an account?</legend>
      <ol class="form">
        <li>
          
        </li> 
      </ol>
    </fieldset>
    <%= link_to '/products', :class => "multi-line-button green" do %>
      <span class="title">No Thanks, Checkout as Guest</span>
      <span class="subtitle">Finalise order & Checkout</span>
    <% end %>        
    <%= link_to '/products', :class => "multi-line-button green" do %>
      <span class="title">Yes, Create me an Account</span>
      <span class="subtitle">Finalise order & Checkout</span>
    <% end %>            
  </div>
</div>
<div id="finalise-order">
  <div class="checkout-header">
    <span>Step</span>
    <div class="heading">
      <span>Finalise Order & Checkout</span>
    </div>
  </div>
  <div class="checkout-body">
    <fieldset>
      <legend>Your Cart Items</legend>
      <ol class="form">
        <li>

        </li> 
      </ol>
    </fieldset>
  </div>
</div>
<% end %>
</div>
<div id="right">
  <div class="order-summary">
    <div class="header"><span>Order Summary<span></div>
        <div class="body">
          <div class="products">
            <div class="product">
              <span class="name">Mullet Wig</span>
              <span class="price">$250.00 NZD</span>
              <br />
              <span class="option">(1) Ginga</span>
            </div>
            <div class="product">
              <span>Mr T Wig</span>
              <span>$435.00 NZD</span>
              <span>(1) Black</span>
            </div>
          </div>
          <div class="costs">
            
          </div>
          <div class="subtotal">
            <span class="name">Subtotal:</span>
            <span class="price">$706.50 NZD</span>
          </div>
          <div class="total">
            <span class="name">Total cost:</span>
            <span class="price">$706.50 NZD</span>
          </div>
        </div>
  </div>
</div>
</div>
