<%= stylesheet_link_tag "/breeze/stylesheets/commerce" %>

<div id="checkout-header">
  <h1>Secure Checkout</h1>
</div>
<div id="left">
  <%= form_for :order do |order_form| %>
    <div id="shipping-address">
      <%= order_form.fields_for :shipping_address do |ship_form| %>
    <fieldset>
      <legend>Enter Shipping Address</legend>
      <ol class="form">
        <li>
          <%= ship_form.label :first_name %>
          <%= ship_form.text_field :first_name %>
          </li>
          <li>
            <%= ship_form.label :last_name %>
            <%= ship_form.text_field :last_name %>
            </li>
          <li>
            <%= ship_form.label :phone %>
            <%= ship_form.text_field :phone %>
            </li>
            <li>
              <%= ship_form.label :address %>
              <%= ship_form.text_field :address %>
            </li>
          <li>
            <%= ship_form.label :suburb %>
            <%= ship_form.text_field :suburb %>
            </li> 
            <li>
              <%= ship_form.label :city %>
              <%= ship_form.text_field :city %>
            </li>
      </ol>
    </fieldset>
  <% end %>
  </div>
<% end %>
</div>
<div id="right">
  <table id="checkout" class="rounded order">
    <thead>
      <tr><th>Order Summary</th></tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>Mullet Wig</th>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td>Total cost:</td>
      </tr>
    </tfoot>
  </table>
  <table id="help" class="rounded order">
    <thead>
      <tr>
        <th>Need Help?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0800 123 456</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </tfoot>
  </table>
</div>
