<%= stylesheet_link_tag "/breeze/stylesheets/commerce" %>
<div id="checkout-container">
<div id="checkout-header">
  <h1>Secure Checkout</h1>
</div>
<div id="left">
<div id="finalise-order">
  <div class="sign-in">
    <span>Step</span>
    <div class="heading">
      <span>Sign In or Proceed as a Guest</span>
    </div>
  </div>
  <div class="checkout-body">
    <fieldset>
      <legend>Returning Customer</legend>
      <ol class="form">
        <li>
          
        </li> 
      </ol>
    </fieldset>
  </div>
</div>  
  <%= form_for :order do |order_form| %>
    <div id="shipping-address">
      <div class="checkout-header">
        <span class="active">Step</span>
        <div class="heading">
          <span>Shipping Information</span>
        </div>
      </div>
      <div class="checkout-body">
        <fieldset>
          <legend>Enter an Email Address </legend>
          <ol class="form">
            <li>
            <%= order_form.text_field :email, :class => :long %>
            </li>
            <li>  
            <%= order_form.check_box :subscribe %>
            <%= order_form.label :subscribe, "Subscribe to our newsletter", :class => :long %>
            </li>
          </ol>
        </fieldset>
      <%= order_form.fields_for :shipping_address do |ship_form| %>
    <fieldset>
      <legend>Enter Shipping Address</legend>
      <ol class="form">
        <li>
          <%= ship_form.label :first_name %>
          <%= ship_form.text_field :first_name %>
          </li>
          <li>
            <%= ship_form.label :last_name %>
            <%= ship_form.text_field :last_name %>
            </li>
          <li>
            <%= ship_form.label :phone %>
            <%= ship_form.text_field :phone %>
            </li>
            <li>
              <%= ship_form.label :address %>
              <%= ship_form.text_field :address %>
            </li>
          <li>
            <%= ship_form.label :suburb %>
            <%= ship_form.text_field :suburb %>
            </li> 
            <li>
              <%= ship_form.label :city %>
              <%= ship_form.text_field :city %>
            </li>
      </ol>
    </fieldset>
  <% end %>
    <fieldset>
      <legend>Shipping Method</legend>
      <ol class="form">
        <li>    
        </li>
      </ol>
    </fieldset>
    <fieldset>
      <legend>Gift Options</legend>
      <ol class="form">
        <li>
          <%= order_form.check_box :gift %>
          <%= order_form.label :gift, "Is this order being sent as a gift?", :class => :long %>
        </li>
      </ol>
    </fieldset>
    <%= link_to '/products', :class => "multi-line-button green" do %>
      <span class="title">Continue to next step</span>
      <span class="subtitle">Payment Information</span>
    <% end %>    
  </div>
</div>
<div id="payment-information">
  <div class="checkout-header">
    <span>Step</span>
    <div class="heading">
      <span>Payment Information</span>
    </div>
  </div>
  <div class="checkout-body">
    <fieldset>
      <legend>Enter Payment Address</legend>
      <ol class="form">
        <li>

        </li> 
      </ol>
    </fieldset>
  </div>
</div>
<div id="create-acount">
  <div class="checkout-header">
    <span>Step</span>
    <div class="heading">
      <span>Create Account (optional)</span>
    </div>
  </div>
  <div class="checkout-body">
    <fieldset>
      <legend>Would you like to create an account?</legend>
      <ol class="form">
        <li>
          
        </li> 
      </ol>
    </fieldset>
    <%= link_to '/products', :class => "multi-line-button green" do %>
      <span class="title">No Thanks, Checkout as Guest</span>
      <span class="subtitle">Finalise order & Checkout</span>
    <% end %>        
    <%= link_to '/products', :class => "multi-line-button green" do %>
      <span class="title">Yes, Create me an Account</span>
      <span class="subtitle">Finalise order & Checkout</span>
    <% end %>            
  </div>
</div>
<div id="finalise-order">
  <div class="checkout-header">
    <span>Step</span>
    <div class="heading">
      <span>Finalise Order & Checkout</span>
    </div>
  </div>
  <div class="checkout-body">
    <fieldset>
      <legend>Your Cart Items</legend>
      <ol class="form">
        <li>

        </li> 
      </ol>
    </fieldset>
  </div>
</div>
<% end %>
</div>
<div id="right">
  <table id="checkout" class="rounded order">
    <thead>
      <tr><th>Order Summary</th></tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>Mullet Wig</th>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td>Total cost:</td>
      </tr>
    </tfoot>
  </table>
  <table id="help" class="rounded order">
    <thead>
      <tr>
        <th>Need Help?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0800 123 456</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </tfoot>
  </table>
</div>
</div>
