<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
<script type="text/javascript">
  $(function() {
      $('td a').click(function(e) {
        var link = $(this);
        $.ajax({
          type: "POST",
          url: link.attr('href'),
          success: function(data) {
            link.parent().parent().remove();
          }
          });
        return false;
      });
  });  
</script>
<%= stylesheet_link_tag "/breeze/stylesheets/commerce" %>

<h1>Shopping Cart</h1>

<% if @order.line_items.empty? %>
  <p>You do not have any products in your cart.</p>
<% else %>
  <div class="buttons">
    <%= link_to '/products', :class => "multi-line-button" do %>
      <span class="title">Continue Shopping</span>
      <span class="subtitle">your information will be saved</span>
    <% end %>
      <%= link_to checkout_path, :class => "multi-line-button green" do %>
        <span class="title">Checkout NOW!</span>  
      <% end %> 
    </div>
      <table id="cart">
      <thead>
        <tr>
          <th colspan="2">Item</th>
          <th>Description</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>TOTAL</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @order.line_items.each do |line_item| %>
          <%= form_for :line_item do |f| %>
            <tr>
          <td></td>
          <td><%= line_item.product.name %></td>
          <td></td>
          <td></td>
          <td><%= f.text_field :quantity %></td>    
          <td>$250.00 NZD</td>
          <td>
            <%= link_to 'Remove', :controller => "orders", :action => "remove_item", :id => line_item.id, :class => "remove" %>
          </td>  
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
<% end %>
