<%= stylesheet_link_tag "breeze/commerce" %>
<%# navigation :page => Breeze::Content::Page.first %>
<div id="cart-container">
  <div id="cart-header">
<h1>Shopping Cart</h1>

  <div class="buttons">
    <%= link_to :back, :class => "multi-line-button" do %>
      <span class="title">Continue Shopping</span>
      <span class="subtitle">your information will be saved</span>
    <% end %>
    <%# TODO: Don't show checkout button if there's nothing in the cart %>
    <%= link_to breeze.checkout_path, :class => "single-line-button green large" do %>
      <span class="title">Checkout NOW!</span>  
    <% end %> 
    </div>
  </div>
      <table id="cart" class="rounded order">
      <thead>
        <tr>
          <th colspan="3">Item</th>
          <th>Description</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>TOTAL</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if @order.line_items.empty? %>
          There's nothing in your cart yet.
        <% else %>
        <% @order.line_items.each do |line_item| %>
          <%= form_for line_item, :url => breeze.order_line_item_path(@order, line_item), :method => :put, :remote => true do |f| %>
            <tr id="<%= line_item.id %>">
          <td></td>
          <td class="icon"><% image_tag line_item.product.icon_image if line_item.product.icon_image %></td>
          <td><%= line_item.variant.name %></td>
          <td></td>
          <td class="price">$<%= line_item.variant.display_price %> <span class="currency">NZD</span></td>
          <td><%= f.text_field :quantity %> &nbsp; <%= f.submit "Apply" %></td>    
          <td class="total"><%= number_to_currency line_item.amount %> <span class="currency">NZD</span></td>
          <td>
            <%= link_to 'Remove', breeze.order_line_item_path(@order, line_item), :method => :delete, :remote=> true, :class => "remove" %>
          </td>
          <td></td>  
        </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
  <%= render :partial => "breeze/commerce/line_items/totals" %>
</table>
  <div class="buttons">
    <%= link_to :back, :class => "multi-line-button" do %>
      <span class="title">Continue Shopping</span>
      <span class="subtitle">your information will be saved</span>
    <% end %>
      <%= link_to breeze.checkout_path, :class => "single-line-button green large" do %>
        <span class="title">Checkout NOW!</span>  
      <% end %> 
    </div>
</div>
