- content_for :head do
  %title Shopping Cart

= form_for @order, :as => :order, :url => breeze.order_path(@order), :method => :put, :remote => true do |form|
  .row
    .span12
      %h1 Shopping Cart
  .row.cart-container
    .span12
      .order.clearfix
        .order-identification
          %h2 Your Order
        .order-line_items
          = render :partial => "breeze/commerce/line_items/line_items_edit", :locals => { line_items: @order.line_items.unarchived, :form => form }
          = render :partial => "breeze/commerce/coupons/coupon_edit", locals: { order: @order }
          = render :partial => "breeze/commerce/shipping_methods/shipping_methods_edit", locals: { order: @order }
          = render :partial => "breeze/commerce/orders/total", locals: { order: @order }
      .form-actions
        .btn-group
          = link_to store.home_page.permalink, class: "btn", id: "continue-shopping" do
            %i.icon-arrow-left
            %span.title Continue Shopping
          - if @order.line_items.count > 0 && Breeze::Commerce::ShippingMethod.unarchived.count > 0
            = link_to breeze.checkout_order_path(@order), method: :get, :class => "btn btn-primary", id: "go_to_checkout" do
              %i.icon-arrow-right
              %span.title Go to Checkout
.payment_gateway
  Payments processed by
  .gateway.payment_express Payment Express
