<% content_for :head do %>
  <%= stylesheet_link_tag "breeze/commerce" %>
  <link href='http://fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css'>
<% end %>

<div class="row">
  <div class="span12">
    <h1>Thank You</h1>
    <p>You have successfully made a payment of XXX. This Credit Card transaction will will appear as <strong>"EXAMPLE"</strong> on your statement. You will also receive an email receipt for this transaction shortly.</p>

  </div>
</div>

<div id="order-customer" class="section">
  <% if @order.customer %>
    <%= render :partial => "breeze/commerce/customers/card", :locals => {:customer => @order.customer} %>
  <% else %>
    <div class="customer-card">
      <p class="customer-name">
        <span class="name">
          Guest
        </span>
      </p>
      <ul class="customer-contact">
        <li class="phone">
          <%= @order.billing_address.phone %>
        </li>
        <li class="email">
          <%= @order.email %>
        </li>
      </ul>
    </div>
  <% end %>
</div>

<div id="order-details">

    <div id="order-number">
      <span>Order Number:</span>
      <span><%= @order.id %></span>
    </div>

    <div id="order-customer_comment">
      <%= @order.comment %>
    </div>

    <div id="order-line_items" class="section">
      <h3>Line Items</h3>
      <%= render :partial => "breeze/commerce/line_items/line_items", :object => @order.line_items %>
    </div>  

    <div id="order-billing">
      <div id="order-billing_address" class="section address">
        <h3>Billing Address</h3>
        <% if @order.billing_address %>
          <%= render :partial => "breeze/admin/commerce/addresses/address", :object => @order.billing_address %>
        <% else %>
          Enter a billing address
        <% end %>
      </div>

    </div>

    <div id="order-shipping">
      <div id="order-shipping_address" class="section address">
        <h3>Shipping Address</h3>
        <% if @order.shipping_address %>
          <%= render :partial => "breeze/admin/commerce/addresses/address", :object => @order.shipping_address %>
        <% else %>
          Enter a shipping address
        <% end %>
      </div>

    </div>


    <div class="clearer"></div>

</div>

<div class="row">
  <div class="span12">

    <div class="form-actions">
      <div class="btn-group">
        <%= link_to breeze.root_path, :class => "btn", :id => "continue-shopping" do %>
          <span class="title">Continue Shopping</span>
        <% end %>
      </div>
    </div>
  </div>
</div>