- if @coupon
  %table.coupon
    %tr
      %td
        Coupon:
      %td
        %span.coupon_details
          - if @coupon.discount_type == :fixed
            %span.amount
              = number_to_currency @coupon.discount_value
            %span.currency
              = store.currency
          - elsif @coupon.discount_type == :percentage
            = @coupon.discount_value.to_s + "%"
          off total order

        \- 
        %span.amount#order_coupon_total
          = number_to_currency @coupon_total
        %span.currency
          = store.currency