%table.coupon
  %tr
    %td
      Discount:
    %td
      - if order.coupon
        .description{ class: "coupon-#{order.coupon.name.downcase.gsub(" ","_")}" }
          %h4
            = order.coupon.name
          %span.coupon_details
            - if order.coupon.discount_type == :fixed
              %span.amount
                = number_to_currency order.coupon.discount_value
              %span.currency
                = store.currency
            - elsif order.coupon.discount_type == :percentage
              = order.coupon.discount_value.to_s + "%"
            off total order

          %span.amount#order_coupon_total
            = "-&nbsp;#{number_to_currency order.coupon_total}".html_safe
          %span.currency
            = store.currency
      - else
        .control-group#enter_coupon
          .controls
            = text_field_tag 'order[coupon_code]', "", class: '', data: { order_id: order.id.to_s }, placeholder: "Coupon code"
            = label_tag 'order[coupon_code]', "", class: 'error', generated: true