<div class="customers-container">
	<%= form_tag admin_store_products_path, :method => :put do -%>
    <div class="with-selected" style="display: none;">
      <strong>With selected:</strong>
      <%= link_to "Publish", admin_store_products_path, :class => "small green publish button" %>
      <%= link_to "Unpublish", admin_store_products_path, :class => "small unpublish button" %>
      <%= link_to "Delete", admin_store_products_path, :class => "small red delete button" %>
    </div>
    <table class="fancy customers">
      <thead>
        <tr>
          <th class="first" style="width:2em;"><input class="checkbox select-all" type="checkbox" /></th>
          <th style="">Title</th>
          <th style="">First Name</th>
          <th style="">Last Name</th>
          <th style="">Phone</th>
          <th style="">Email</th>
          <th style="">Last Order</th>
          <th class="last" style="width:20%;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if customers.any? -%>
	        <%= render :partial => "breeze/admin/commerce/customers/customer", :collection => customers %>
        <% else -%>
	        <tr><td class="empty" colspan="6">There are no customers to show here.</td></tr>
        <% end -%>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="8">&nbsp;</td>
        </tr>
      </tfoot>
    </table>
	<% end -%>
</div>


