<%= breeze_form_for @customer, :as => :customer, :url => url do |form| %>
  <h1>
      Edit Customer
      <%= submit_tag "Save", :class => "large green save button" %>
      <%= link_to "Delete", admin_store_customer_path(@customer, :format => :js), :method => :delete, :remote => true, :class => "large red delete button" unless @customer.new_record? %>
  </h1>
  <%= render "/breeze/admin/shared/error_messages", :target => @customer, :object_name => :customer %>
  <div id="customer-details">
    <%= form.fieldset do %>
      <%= form.text_field :title, :required => false %>
      <%= form.text_field :first_name, :required => true %>
      <%= form.text_field :last_name, :required => true %>
      <%= form.text_field :phone, :required => false %>
      <%= form.text_field :email, :required => true %>
      <%= form.password_field :password %>
      <%= form.password_field :password_confirmation %>
    <% end %>
  </div>


  <%#= fake_right_sidebar do %>
    <%#= scrollable_layout do %>
      
    <%# end %> 
  <%# end %>

<% end %>




