= content_tag :tr, :class => "customer", :id => "customer_#{top_customer.id}" do
  %td.name
    = link_to top_customer.name, edit_admin_store_customer_path(top_customer)
  %td.total
    = number_to_currency top_customer.order_total
    %span.currency= Breeze::Commerce::Store.first.currency