- content_for :title, "Customers"
= pane_layout do |panes|
  = panes.inner do
    = scrollable_layout do
      .actions.horizontal
        = link_to "New customer", new_admin_store_customer_path, :class => "large new green customer button"
      %h1
        Customers
      .box
        .filter_controls
          = select_tag_for_filter("customers", @filters, params)
          = will_paginate @orders
        = render :partial => "breeze/admin/commerce/customers/customers", :locals => { :customers => @customers }
= content_for :left do
  - render :partial => "breeze/admin/commerce/shared/left"