<% content_for :title, "Customers" %>

<%= pane_layout do |panes| %>
  <%= panes.inner do %>
    <%= scrollable_layout do %>
      <h1>Customers <%= link_to "New customer", new_admin_store_customer_path, :class => "large new green customer button" %></h1>
      <div class="filters">
        <div class="states">
          <%= link_to "All (#{store.customers.count})", admin_store_customers_path %> |
        </div>
      </div>      
      <%= will_paginate @customers %>      
      <%= render :partial => "breeze/admin/commerce/customers/customers", :locals => { :customers => @customers } %>
    <% end %>
  <% end %>
<% end %>


<%= content_for :left do %>
  <% render :partial => "breeze/admin/commerce/commerce/left" %>
<% end %>
