- content_for :title, "Customers"
= pane_layout do |panes|
  = panes.inner do
    = scrollable_layout do
      .actions.horizontal
        = link_to "New customer", new_admin_store_customer_path, :class => "large new green customer button"
      %h1
        Customers
      .box
        .filters
          .states
            = link_to "All (#{Breeze::Commerce::Customer.count})", admin_store_customers_path
        = will_paginate @customers
        = render :partial => "breeze/admin/commerce/customers/customers", :locals => { :customers => @customers }
= content_for :left do
  - render :partial => "breeze/admin/commerce/shared/left"