- content_for :title, "New Customer"
= pane_layout do |main|
  = main.inner do
    = scrollable_layout do
      .customer-new.box
        = render "breeze/admin/commerce/customers/form", :url => admin_store_customers_path
- content_for :left do
  = render :partial => "breeze/admin/commerce/shared/left"