- content_for :head do
  %title Checkout

- flash.each do |key, msg|
  %div{class: "alert-#{key} alert-block alert"}
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    %p= msg
    .clear

= form_for @order, url: breeze.submit_order_path(@order), html: {method: :put, id: "checkout-form"} do |order_form|
  .row
    .span12
      %h1 Checkout
  .row
    #checkout-container.span8
      .panel#sign-in{class: ("active" unless customer_signed_in?), "data-customer_signed_in" => customer_signed_in? ? 'true' : 'false', "data-foo" => "bar"}
        .checkout-header
          %h3.heading
            %span Step
            %span.number 1
            %span.description
              - if @allow_returning_customer_login
                Sign In or Proceed as a Guest
              - else
                Contact Email Address
        .checkout-body
          - if customer_signed_in?
            Signed in as #{current_commerce_customer.name}
            \#{link_to 'Sign Out', breeze.destroy_commerce_customer_session_path, class: 'btn'}
            .form-actions
              = link_to '#', class: "btn btn-primary", :id => "continue-1a" do
                %i.icon-arrow-down.icon-white
                %span.title Continue to next step
          - else
            = fields_for @customer, :url => breeze.customer_session_path do |form|
              %fieldset
                %ol.form
                  %li
                    .control-group
                      = form.label :email, class: "control-label" do |label|
                        Email
                        %span.required *
                      .controls
                        = form.text_field :email, class: "required"
                    %span.help-block We'll send a confirmation email to this address
                  - if @allow_returning_customer_login
                    %li
                      = form.label :returning_customer do |label|
                        = check_box_tag :returning_customer, :returning_customer, false
                        I'm a returning customer
                    %li#returning_customer_password{:style => "display: none;"}
                      = form.label :password do |label|
                        Password
                        %span.required *
                      = form.password_field :password
                      = link_to 'Sign in', breeze.commerce_customer_session_path, class: 'btn btn-primary', :id => 'button-sign_in'

            .form-actions
              = link_to '#', class: "btn btn-primary", :id => "continue-1b" do
                %i.icon-arrow-down.icon-white
                %span.title Continue to next step
        .checkout-summary
          .form-actions
            - if customer_signed_in?
              = link_to 'Sign Out', breeze.destroy_commerce_customer_session_path, id: 'sign-out', class: 'btn'
            - else
              = link_to 'Edit Sign In', '#', class: "btn", :id => "edit-sign-in"
          .summary
            - if customer_signed_in?
              %p
                Signed in as #{current_commerce_customer.name}
              %p
                Email: #{current_commerce_customer.email}
            - else
              %p
                Email:
                %span#guest_email

      .panel#shipping{class: ("active" if customer_signed_in?)}
        .checkout-header
          %h3.heading
            %span Step
            %span.number 2
            %span.description Shipping Address
        .checkout-body
          = order_form.hidden_field :email, class: :required, :value => @customer.email
          = order_form.fields_for :shipping_address do |ship_form|
            %fieldset.address-shipping.address
              %ol#order_shipping_address.form
                = render :partial => "breeze/commerce/addresses/address_fields", locals: { form: ship_form, countries: @shipping_countries, address: @customer.shipping_address }
          .form-actions
            = link_to '#', class: "btn btn-primary", :id => "continue-2" do
              %i.icon-arrow-down.icon-white
              %span.title Continue to next step
        .checkout-summary
          .form-actions
            = link_to '#', class: "btn", :id => "edit-shipping" do
              %span.title Edit Shipping Address
          .summary

      .panel#billing
        .checkout-header
          %h3.heading
            %span Step
            %span.number 3
            %span.description Billing Address
        .checkout-body
          = order_form.fields_for :billing_address do |bill_form|
            %fieldset.address-billing.same
              = bill_form.label :same do |label|
                = check_box_tag :same, :same, true
                Same as my Shipping Address
            %fieldset.address-billing.address
              %ol#order_billing_address.form{:style => "display: none;"}
                = render :partial => "breeze/commerce/addresses/address_fields", locals: { form: bill_form, countries: @billing_countries, address: @customer.billing_address }
          .form-actions
            = link_to '#', class: "btn btn-primary", :id => "continue-3" do
              %i.icon-arrow-down.icon-white
              %span.title Continue to next step
        .checkout-summary
          .form-actions
            = link_to '#', class: "btn", :id => "edit-payment" do
              %span.title Edit Billing Address
          .summary

      .panel#confirmation
        .checkout-header
          %h3.heading
            %span Step
            %span.number 4
            %span.description Confirmation
        .checkout-body
          - if @customer.new_record? and @allow_returning_customer_login
            %fieldset
              %legend Save my details
              %ol.form
                %li
                  = label_tag :create_new_account do |label|
                    = check_box_tag :create_new_account, :create_new_account, false
                    I'd like my contact information saved for future visits
                    %span.optional (optional)
                <li id="new_account_password", style="display: none;">
                \#{order_form.label :new_account_password, 'Add a password for your account'}
                \#{password_field_tag :new_account_password}
                \#{order_form.label :new_account_password_confirmation}
                \#{password_field_tag :new_account_password_confirmation}
          %fieldset
            %legend Terms and Conditions
            %ol.form
              %li
                = label_tag :read_terms do |label|
                  .control-group
                    = check_box_tag :read_terms, :read_terms, false, class: :required
                    I accept the
                    = link_to store.terms_page.permalink, :target => "_blank" do
                      terms and conditions
                    %span.required *
          %fieldset
            %legend Add an Optional Comment
            %ol.form
              %li
                = order_form.label :comment do |label|
                  Comment
                  %span.optional (optional)
                = order_form.text_area :comment, class: 'input-xxlarge', :rows => 2
          .form-actions
            = content_tag :button, :type => :submit, :id => "continue-4", class: "btn btn-primary btn-large" do
              %i.icon-ok-sign.icon-white
              Pay Now
        .checkout-summary
          .form-actions
            = link_to '#', class: "btn", :id => "changed-my-mind" do
              %span.title Edit Confirmation

    .cart-container.span4
      .order.clearfix
        = link_to breeze.edit_order_path, class: "btn", :id => "edit-items" do
          %i.icon-shopping-cart
          %span.title Edit Cart
        .order-identification
          %h2 Your Order
        .order-line_items
          = render :partial => "breeze/commerce/line_items/line_items_show", :locals => { line_items: @order.line_items.unarchived }
          = render :partial => "breeze/commerce/coupons/coupon_edit", locals: { order: @order }
          = render :partial => "breeze/commerce/shipping_methods/shipping_methods_show", locals: { order: @order }
          = render :partial => "breeze/commerce/orders/total", locals: { order: @order }
        .payment_gateway
          Payments processed by
          .gateway.payment_express Payment Express

