<% if false %>
<%= breeze_form_for @variant, :as => :variant, :url => url, :remote => true do |form| %>
  <%= render "/breeze/admin/shared/error_messages", :target => @variant, :object_name => :variant %>
  <%= form.fieldset do %>
    <% unless form.object.new_record?%>
      <li class="image">
        <label>Image (124 &times; 192)</label>
        <%= uploadable_image form.object, :image, :width => 124, :height => 192, :url => admin_store_product_variant_path(@variant.product, @variant) %>
      </li>
    <% end %>
    <%= form.text_field :name, :required => true %>
    <%= form.text_field :sku_code, :required => true %>
  <% end %>
<% end %>
<% end %>

<table class="fancy">
  <% @products.each do |product| %>
    <tr data-id="<%= product.id %>">
      <td>
        image goes here
      </td>
      <td>
        <%= product.name %>
      </td>
      <td>
        <%= product.sell_price %>
        <%= link_to 'Add', admin_store_product_associations_path(@product), :class => "add association green button" %>
      </td>
    </tr>
  <% end %>
<table>



