<%= content_tag :tr, :class => :order, :id => "order_#{order.id}", :"data-id" => order.id do %>
  <td class="date">
    <%= order.created_at %>
  </td>
  <td class="products">
    <% order.line_items.each do |item| %>
      <%= item.quantity %>
      <%= item.product.name %>
    <% end %>
  </td>
  <td class="customer">
    <%= order.billing_address %>
  </td>
  <td class="end">
  </td>
  <td class="days">
  </div>
  <td class="amount">
    <%= order.total %>
  </td>
  <td class="actions">
    <p class="order-actions">
      <%= link_to "View", print_admin_store_order_path(order), :class => "small black view edit button"  %>
    </p>
  </td>
<% end %>


